[2013-06-28 06:26] tomspilman opened #2 "LLVM/Clang Latest Breaks CppSharp"
So after hours of trying to get CppSharp to build I've gotten close, but found out finally that the latest changes to LLVM/Clang break CppSharp.

I'm working on a PR to fix this now.

[2013-06-28 17:26] tomspilman opened #5 "Syntax Errors In Generator.Tests"
There are some syntax errors in the current Generator.Tests library that I don't know how to fix myself.

First in [TestPasses.cs](https://github.com/mono/CppSharp/blob/master/src/Generator.Tests/Passes/TestPasses.cs#L21) you have this:

[code]

Then in [TestCLITypePrinter.cs](https://github.com/mono/CppSharp/blob/master/src/Generator.Tests/TestCLITypePrinter.cs#L26):

[code]

[2013-06-28 17:35] tomspilman opened #6 "SDL Example Crash"
Building against LLVM/Clang r185136 the SDL example crashes under VS2012.

The crash is in [ASTVisitor.VisitParameterDecl](https://github.com/mono/CppSharp/blob/master/src/Bridge/ASTVisitor.cs#L298):

[code]

It is caused by `parameter.Type` being `null`.  Inspecting the `parameter.Name` it is "argv" and that it is trying to process the "SDL_main" function.

Not sure if this error should be more g

[2013-06-28 18:16] tomspilman opened #8 "SDL Example Fails For Unions"
The SDL example now runs into some unions when processing.

In particular in SDL_RWops...

[code]

In SDL_Event....

[code]

In SDL_HapticEffect....

[code]

In SDL_GameControllerButtonBind:

[code]

[2013-06-28 18:33] tomspilman opened #9 "Unsafe Externs"
I was getting errors from the usage of `unsafe` in the SDL example like so:

[code]

But really... unsafe is not needed here...  that code compiles fine without the unsafe keyword.

Should `GenerateInternalFunction` be fixed to not put unsafe on all externs?

[2013-06-28 18:59] #6 closed, assigned to nobody

[2013-06-28 19:00] #2 closed, assigned to nobody

[2013-06-28 19:12] #9 closed, assigned to nobody

[2013-07-15 20:18] #5 closed, assigned to nobody

[2013-08-08 21:16] ddobrev opened #18 "StackOverflow exception when binding the QtCore module of MinGW Qt"
Steps to reproduce:
1. Install Qt 5.1.0 MinGW;
2. Use this code: http://pastie.org/8219841.

[2013-08-10 12:33] ddobrev opened #19 "Null ref at Enumeration.Item.IsHexadecimal with qmetatype.h"
The problem is that most enum members of QMetaType::Type are defined using a macro, that is:

[code]

I'd think the macro would have to be expanded before working with the items of the enum.

[2013-08-11 12:33] ddobrev opened #20 "Support wrapping unions"
Using http://stackoverflow.com/questions/126781/c-union-in-c-sharp, I created a small sample as a pull request. I mean it is not yet complete because I'd like to hear your opinion first.

[2013-08-12 13:19] ddobrev opened #21 "MinGW symbols not found"
While wrapping QtCore, no symbol is found. The searched for symbols (that is, the parameter "symbol" of Library.FindSymbol) have a format similar to:

??0QForeachContainerBase@@QEAA@XZ

while the keys of Library.Symbols are of the formats:

__imp___Zls6QDebugRK21QPersistentModelIndex
_z_inflatePrime

Changing Driver.Options.Abi to Itanium (the default is Microsoft) makes no difference.

[2013-08-13 23:35] #21 closed, assigned to nobody

[2013-08-13 23:42] #18 closed, assigned to nobody

[2013-08-14 17:02] ddobrev opened #29 "Functions not found in the library symbols"
They are many, here's just 3 examples: QModelIndex::row(), QModelIndex::column(), QModelIndex::model(). Using Qt MinGW 5.1.0 with:

driver.Options.GeneratorKind = LanguageGeneratorKind.CSharp;
string qtModule = "QtCore";
driver.Options.Abi = CppAbi.Itanium;
driver.Options.LibraryName = string.Format("{0}Sharp", qtModule);
driver.Options.Verbose = true;
driver.Options.IgnoreParseWarnings = true;
dr

[2013-08-15 04:54] lalanikarim opened #30 "Instructions on building under Linux missing"
Please include instructions on compiling CppSharp under Linux on the Readme file.
Thanks

[2013-08-20 23:23] #20 closed, assigned to nobody

[2013-09-05 04:28] tomspilman opened #54 "Support for DllImport("_Internal")"
The `DllImport("_Internal")` attribute as described here...

 http://www.mono-project.com/Embedding_Mono#Exposing_C_code_to_the_CIL_universe

... is useful in cases where the library being wrapped is not a DLL, but a static library that will be linked into the native assembly that kicks off the Mono runtime.

Seems simple enough to add support for this as a flag in the `Options`.

[2013-09-09 02:30] kmonchamp opened #55 "Current LLVM/Clang used to build?"
The latest versions of clang appear to not be compatible with CppSharp. It looks like CC_Default was removed. http://llvm-reviews.chandlerc.com/D1231

I was wondering what the current revision of clang (and LLVM) I should be using to build?

[2013-09-09 04:21] #55 closed, assigned to tritao

[2013-09-09 04:28] #54 closed, assigned to nobody

[2013-09-10 17:13] mydogisbox opened #56 "Basic test won't compile with default settings due to enum forward declaration"
Visual Studio 2010:
In Basic.CLI:
error C2599: 'Enum' : forward declaration of enum type is not allowed   ..\cppsharp\build\vs2010\gen\basic\Basic.h  8   1   Basic.CLI

Forward declaration of enums is only supported under /Ze
(http://msdn.microsoft.com/en-us/library/vstudio/0k0w269d(v=vs.100).aspx)

Current compiler setting is /Zi

[2013-09-12 04:02] #56 closed, assigned to tritao

[2013-09-12 17:11] #29 closed, assigned to nobody

[2013-09-17 03:11] mydogisbox opened #66 "Null reference exception when parsing header"
I'm happy to help debug the below error, I'm just not sure where to start.

I'm trying to generate wrappers for the octave libraries ().  I'm getting the null reference exception below.  The null is generated on line 505 of parser.cpp (VTLayout is null):

[code]

Here is the exception:

System.NullReferenceException occurred
  HResult=-2147467261
  Message=Object reference not set to an instance o

[2013-09-17 11:55] #66 closed, assigned to tritao

[2013-09-18 01:49] mydogisbox opened #67 "Null reference exception when parsing header"
This issue is nearly identical to:
https://github.com/mono/CppSharp/issues/66
I verified I have the fix for issue 66.

Minimal test case:

[code]

[2013-09-20 00:21] #8 closed, assigned to nobody

[2013-09-24 15:25] mydogisbox opened #73 "Need a way to indicate that one header depends on the macros in another header"
I have two headers where one header depends on the macros defined in the other header, but the second header doesn't include the first header.  The assumption is that the first header will always be included in a file before the second header.  As a result, I'm getting errors in the second header.

Currently I am resolving this issue by creating a third header which includes the other two headers

[2013-10-06 02:38] mydogisbox opened #79 "Parser::ParseSharedLib depends on unimplemented function"
I'm trying to use a library, "vc100-liboctave-1.dll" (part of a standard windows Octave install), but I'm getting the following error:

For this function:

[code]

this line:

[code]

depends on unimplemented function:

[code]

[2013-10-09 02:03] lizhengzhou opened #82 "How to get started with CppSharp in a Win32 Dynamic Library like this ?"
一个.h文件DllDemo.h
# ifdef DllDemo_EXPORTS
# define DllAPI __declspec(dllexport)
# else
# define DllAPI __declspec(dllimport)

extern "C" //原样编译
{
    DllAPI int __stdcall Max(int a,int b); //__stdcall使非C/C++语言内能够调用API
}
# endif

在DllDemo.cpp文件中导入DllDemo.h文件，并实现Max(int,int)函数
# include "DllDemo.h"

DllAPI int __stdcall Max(int a,int b)
{
    if(a==b)
        return NULL;
    else if(a>b)
        retu

[2013-10-23 17:30] jpippy opened #83 "Error when parsing headers referenced includes."
Just want to say, awesome project. Great concept, and it is unbelievable how easy you have made it for others.

I do have a question though. When CppSharp parses the headers I specify, I get an error about the headers that are referenced within the .h file, saying they can not be found. Mainly when they are in this format: "includes/types.h"

I am adding a folder for the includes as such:

options

[2013-10-24 11:38] stkenned-havok opened #84 "Include a known-good llvm revision"
Because CppSharp requires a trunk version of llvm it would be nice to keep the an up to date known-good revision number in the version getting started docs.

[2013-10-25 02:52] #84 closed, assigned to nobody

[2013-10-26 11:42] ghost opened #85 "wrapping interface-based libraries"
It seems CppSharp is unable to wrap interface-based libraries. It outputs lots of "Symbol not found" warnings with mangled names. These mangled names are not exported of course. Library exports only few functions and provides header files full of pure virtual declarations of methods. User does not create library objects either - calls to library api return created objects. Tested with this: http:/

[2013-10-29 16:26] ghost opened #88 "Multiple identifiers have same name."
For example this is generated when trying to wrap irrlicht:

[code]

Other files have only repeated delegate type definitions.
Used config:

[code]

[2013-10-30 12:18] stkenned-havok opened #89 "Handle non-TagDecl bases"
BaseClassSpecifier.Class has the following code:
   if (!Type.IsTagDecl(out @class))
       throw new NotSupportedException();

Which means generation fails for classes which inherit templates. This branch adds a test case to the Basic test.

It also has hacks to early out for non-TagDecl bases which at least allows generation to succeed. Should I make a pull request or is there a better way to ha

[2013-10-31 01:47] #88 closed, assigned to nobody

[2013-10-31 01:54] #89 closed, assigned to nobody

[2013-10-31 02:00] #83 closed, assigned to nobody

[2013-10-31 02:01] #82 closed, assigned to nobody

[2013-10-31 17:40] stkenned-havok opened #93 "Include the source location in diagnostics"
#92 duplicates output to the debugger output window.

If file:line number info was added, one could click on the issu & go to the source.

[2013-11-02 15:16] ddobrev opened #95 "Changes to values of native fields not respected"
To reproduce, simply remove the Ignore of BasicTests.TestLeftShiftOperator.

[2013-11-02 15:23] ddobrev opened #96 "Incorrect returned values when v-table generation and virtual members are involved"
To reproduce, add any virtual method to Qux in CSharpTemp.h; TestMultipleInheritance's going to fail at Assert.That(baz[0], Is.EqualTo(50)); .

[2013-11-04 14:37] stkenned-havok opened #101 "Can't wrap operator*"
Operator\* will need to be renamed in the bindings. It currently generates

[code]

from

[code]

[2013-11-04 14:53] stephenatwork opened #102 "Const and non-const constructor overloads"
When signatures clash, they're given an ordinal to disambiguate them. This doesn't work for constructors however.

[code]

I'm not sure what the best answer for this is. Add extra discriminant parameters or fallback to runtime dispatch?

[code]

[code]

I'm not familiar with c# generics but perhaps there's a solution there?

[2013-11-06 06:31] jpippy opened #104 "Receiving alot of errors when parsing"
When trying to generate both CLI and C# wrappers I receive many errors for a couple of projects. So I am trying to figure out if I am doing something wrong here. The errors I seem to be receiving are:

Unhandled typdef errors
Duplicate names
Unknown typename

I know duplicate names is just a warning, but when I look at some of the files generated a large portion of it is generic names from the ren

[2013-11-07 17:53] ddobrev opened #108 "An index out of range when a new method is added to the tests"
To reproduce, add a virtual method to AbstractProprietor that is convertible to a property, for example:

virtual int parent();

If the method is not convertible to a property, it works fine:

virtual int setParent();

[2013-11-07 19:58] #108 closed, assigned to nobody

[2013-11-08 22:07] #79 closed, assigned to nobody

[2013-11-13 19:37] ddobrev opened #121 "Wrong parameters of operators generated by Q_DECLARE_OPERATORS_FOR_FLAGS"
To reproduce, run the latest Qt# (https://github.com/ddobrev/QtSharp/) and check, for example, QtCoreqstring.operator_. This is the | operator (you can see the internal call), apparently generated by Q_DECLARE_OPERATORS_FOR_FLAGS - there is no other | operator in qstring.h. Its parameters are of type Qt.MouseButton. At the same time, one can see that the call to Q_DECLARE_OPERATORS_FOR_FLAGS is gi

[2013-11-14 17:34] mscc opened #122 "Error from STL Library"
My C++ code contains Standard Library functions and I am having a trouble running CppSharp due to that.
On my header file, I have something like:
int testFunc(std::string x);

Then my C# code, I did similar as what the example did, include Library and header files with correct directory. After running the problem, I get errors like:

error CS0246: The type or namespace name 'std' could not be f
ou

[2013-11-15 19:44] #121 closed, assigned to tritao

[2013-11-19 21:00] #104 closed, assigned to nobody

[2013-12-10 02:34] #95 closed, assigned to nobody

[2013-12-12 16:10] iwinux opened #138 "Fail to build under Linux/Mono with premake4.4beta5"
premake4 says `CppSharp/build/premake4.lua:44: attempt to call global 'group' (a nil value)`

Which version of premake is required?

[2013-12-14 02:49] tomspilman opened #139 "Wrapping 64bit DLLs"
So when trying to wrap a 64bit DLL the generator made the wrapper like this:

[code]

Causing memory corruption when calling the 64bit library.  Manually replacing all the '4's with '8's fixed it.

How do I define for my ILibrary that my DLL is 64bit?

[2013-12-15 22:10] #139 closed, assigned to nobody

[2013-12-15 22:29] tomspilman opened #141 "Underscores In OutputNamespace"
If I do the following:

[code]

The generated namespace is:

[code]

.. and not what I expected which is...

[code]

This seems to be caused by using `SafeIdentifier` on the namespace string.

[2013-12-16 00:01] tomspilman opened #142 "No Destructor Generated?"
I have the following class:

[code]

... after generation the dispose methods look like this:

[code]

I don't see it trying to execute my destructor method at all.

[2013-12-21 00:54] krzat opened #143 "Unable to generate for LLVM"
I'm trying to generate CLI wrapper for LLVM:
http://pastebin.com/876Kyu7u

What am I doing wrong?

[2014-01-11 15:47] #142 closed, assigned to tritao

[2014-01-17 00:01] tomspilman opened #148 "Finalizers"
It would be nice for CppSharp to generate C# finalizers for all wrapped objects.  I currently work around this by adding them to a separate source file as a partial class implementation:

[code]

The finalizer is necessary to properly cleanup the unmanaged parts of the wrapper when the user omits a direct call to `Dispose()`.  You already call `GC.SuppressFinalize(this)` which means the finalizer

[2014-01-17 00:13] tomspilman opened #149 "String Memory Leak"
I noticed this in one of our wrapped functions:

[code]

Here you use `Marshal.StringToHGlobalAnsi` to marshal the string to C++, but you don't free the string.  [From the docs](http://tinyurl.com/lovhjws) it says that you should be calling `Marshal.FreeHGlobal(arg0);` to free that memory.

I suspect this is a memory leak in CppSharp.

[2014-01-19 18:01] #149 closed, assigned to nobody

[2014-01-21 04:18] mydogisbox opened #150 "Correct Location to Run Cmake"
The docs say:
4.Run CMake in <CppSharp>\deps\llvm and compile solution in RelWithDebInfo mode

which results in the .lib files being put in "deps\llvm\RelWithDebInfo" , but the CppSharp project is looking in "deps\llvm\build\RelWithDebInfo".  Am I supposed to run Cmake in the build folder?

[2014-01-22 19:39] #150 closed, assigned to nobody

[2014-01-22 19:51] #148 closed, assigned to nobody

[2014-01-27 01:05] tomspilman opened #156 "Static Functions Issues"
I'm having issues with exporting static functions from C++ without getting weird looking wrappers.

My first try was just adding static methods to a class with private constructor.  My thinking was that since the class had nothing but static methods, CppSharp would not make it constructible.... but that does not seem to be the case.  The final class had constructors and dispose methods.

My next t

[2014-01-28 15:49] oysteinkrog opened #158 "Generating bindings for C library/ABI"
What is the story if I want to generate bindings for e.g. ffmpeg?
Having a "C" mode seems like a very useful thing to me, is this something that is a goal/desired? (I'm really tired of creating p/invoke stuff by hand ...)

I have not found a way to generate nice C bindings using the existing options, but I've been able to get calling convention etc. correct by modifying Parser.cpp to pass -std=gnu

[2014-02-08 10:45] gpetrou opened #161 "EntryPointNotFoundException with a simple example"
I am testing the usage of the library (CppSharp_VS2012_423_artifacts.zip) with a simple project in VS2012.
I have the following three projects based on some test projects you have in the repository:
Native.vcxproj with Native.h

[code]

and Native.cpp

[code]

WrapperGenerator with Program.cs

[code]

   }

The Native.cs file is generated successfully and I have the following simple program in ano

[2014-02-13 21:12] jasl8r opened #164 "OSX Support"
I've had trouble with building and using this on OSX.  Ultimately I have compiled the projects, but I have problems with unresolved symbols for ASTContext (_ZN8CppSharp9CppParser3AST10ASTContextC2Ev).  The constructor is not defined in AST.h, so I'm not sure how this was generated in AST.cs.  I can go and add in an empty constructor for ASTContext, but then I get some other errors due to null valu

[2014-02-16 12:59] gpetrou opened #165 "How to pass string by reference?"
I have the following simple method

[code]

How can I make the generator produce something like:

[code]

Currently it produces something like:

[code]

 and if you add the following line to Preprocess

[code]

 it will produce

[code]

[2014-02-23 18:08] oysteinkrog opened #175 "Macrodefinitions not correctly added to TranslationUnit"
When parsing a library with multiple headers and macro definitions in several of them, the parsed MacroDefinitions are not placed in the correct TranslationUnit.PreProcessedEntities list.

[2014-02-26 10:44] #161 closed, assigned to nobody

[2014-02-28 18:21] ddobrev opened #197 "Support dependent fields in internals"
We need to handle cases such as:

template<class T>
class Whatever
{
  T Foo;
}

class Bar
{
  Whatever<int> W;
}

In here, Foo is a dependent field. We need to represent it in Internals as an int. One of the approaches is generating a separate internal struct per template specialisation.

[2014-02-28 21:36] ddobrev opened #202 "Function.Signature is sometimes null"
Happens with certain functions in QtCore. Removing the null check in CSharpTextTemplate and run https://github.com/ddobrev/QtSharp to reproduce.

[2014-03-01 03:56] #141 closed, assigned to tritao

[2014-03-05 12:56] gpetrou opened #207 "windows.h not found"
In the native header I reference a third party library that uses

[code]

I use

[code]

and

[code]

this works with the CppSharp_VS2012_423 release but using the latest 933 build from Teamcity I get:

[code]

and the bindings are not produced. Is this a clang problem or cppSharp?

[2014-03-16 20:45] oysteinkrog opened #212 "Compile fails with latest LLVM (they switched to std::atomic)"
It seems LLVM has switched from using their own atomics to using std::atomic.

When I try to compile the parser now I get:
3>C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\include\atomic(9): fatal error C1189: #error :  <atomic> is not supported when compiling with /clr or /clr:pure.

This seems like a pretty bad thing. I'm not sure if it's possible to work around it?

I guess switching to

[2014-03-26 05:07] tomspilman opened #213 "What is GenerateInlinesCodePass for?"
What is the GenerateInlinesCodePass for?

All it does is seem to spew a inlines.txt and .cpp into the output folder which I never use.

Do I really need it for something?

I did this to disable it...

[code]

... seems like that could really just be an option.

[2014-03-26 05:07] tomspilman opened #214 "builds.tritao.eu down?"
Looks like the build server is down or really really slow.  Can it be fixed?

[2014-03-26 05:25] tomspilman opened #215 "Wrong Getter/Setter Case"
I have a C++ class that has the following functions:

[code]

CppSharp generates the following C# code:

[code]

I would have expected the getters to be named `Width` and `Height` following standard C# style.

[2014-03-26 19:12] tomspilman opened #216 "Disable CompileCode()"
It would be nice to be able to disable the step to CompileCode() after generation of the wrapper.  We compile the wrapper using a separate project, so this is totally unnecessary and just generates files we need to delete.

[2014-03-27 21:54] tomspilman opened #217 "Array Of Enum"
It seems array's of enums don't generate a correct binding.  If you pass it this class definition:

[code]

... I get the following C# wrapper...

[code]

[2014-03-29 04:26] tomspilman opened #218 "Out Parameters?"
Does CppSharp support `out` parameters in functions?  How do you write a function signature to get it to generate a parameter as `out` and not just a pointer?

[2014-03-30 03:14] #218 closed, assigned to nobody

[2014-04-09 11:37] azeno opened #221 "mapping std::ostream - any ideas?"
hi there. i wanted to ask if someone ever tried to map the std::*stream classes for the CSharp backend?
if not, what would be the prefered way to do this? is it even possible or say i'd try it what obstacles would i encounter in doing so?

basically i'm trying to wrap the c++ api of opencv and after i sorted out a couple of issues in CppSharp to get the bindings for the core classes (a pull reques

[2014-04-16 01:25] #216 closed, assigned to nobody

[2014-04-16 02:06] #214 closed, assigned to nobody

[2014-04-16 02:07] #213 closed, assigned to nobody

[2014-04-16 12:53] #217 closed, assigned to nobody

[2014-04-16 13:11] #215 closed, assigned to nobody

[2014-05-06 01:33] #221 closed, assigned to nobody

[2014-05-07 17:48] #164 closed, assigned to nobody

[2014-05-08 14:50] #138 closed, assigned to tritao

[2014-05-09 19:48] tomba opened #246 "Nasty 64 bit issue in parser"
There's a nasty 64 bit issue in the Parser (both new and old). C's "long" is 32 bits on 32 bit machine, but 64 bits on 64 bit machine. But the parser always sets it to 32 bits. I made the following hack to fix it for me.

I don't know how the size of the type should be figured out, but I presume there's a way to ask it from clang. And I think it'd be good to verify the sizes of all the other types

[2014-05-18 19:56] tomba opened #260 "Memory corruption issues"
I've been debugging why CppSharp works so badly on Linux, and, well... I have to say that my C++ is rusty after 15 years of unuse, but I see this kind of code (in some form or another) in many places in Parser.cpp:

[code]

That looks to me like fully broken code, and I'm surprised it works on Windows. TSpecTL is a value variable (i.e. not a pointer) in that small block, and it gets copied the val

[2014-05-18 23:41] #156 closed, assigned to nobody

[2014-05-20 03:00] tomspilman opened #263 "Should CS_OUT std::string work?"
I just tried to do this...

[code]

... it results in the following binding with an error:

[code]

That seems like it should be supported.

Is the bug in the the `Std.String` implementation not having a `System.IntPtr` cast?

Second question...  why not have it generate the function with `string` instead and only use `Std.String` for the conversion?  Like this...

[code]

[2014-05-20 06:27] #246 closed, assigned to nobody

[2014-05-20 06:28] #260 closed, assigned to nobody

[2014-05-23 20:42] JamesLupiani opened #264 "Ability to mark generated methods as internal"
First off, thanks for your work on CppSharp, it's been a breeze to work with!

I'd like to request a macro (perhaps CS_INTERNAL?) to mark generated methods as internal so they aren't visible outside an assembly. The reason is sometimes I want to make the API a little more C#-like and hide some details to prevent user confusion with overloads.

[2014-05-27 03:17] tomspilman opened #265 "Compiler Error With VS2012"
I get a compile errors with the latest master under VS2012.  It occurs on these lines in `Parser::HandlePreprocessedEntities`...

https://github.com/mono/CppSharp/blob/ed634a76fca0311c46d1c568af45c7527174c454/src/Parser/Parser.cpp#L2392-L2393

[code]

Also in the bindings I get errors in AST.cs in the `PreprocessedEntity` class as it has two fields with the same name of `Location`.  See...

https:

[2014-05-28 00:20] #265 closed, assigned to nobody

[2014-06-13 14:22] benpye opened #270 "Linux build fails"
I'm using the known good llvm and clang revisions as listed in the getting started guide however the build still fails. In addition the latest version of premake has a change that results in (I believe) having to change line 104 of Helpers.lua to `local path = table.concat(cc.libdirs, ";")`, though I'm not 100% sure if that is correct.

The bigger issue I'm having is that the build completely fail

[2014-07-04 07:00] manikk opened #286 "Nice to have NuGet packages"
It would be nice to have NuGet packages for Cpp Sharp.

[2014-07-10 22:14] ddobrev opened #290 "Adding any virtual function to CSharpTemp::Qux causes tests to fail"
TestMultipleInheritance fails at:

[code]

baz[0] returns 0. The implementation comes from Foo[int] which returns the field P with value 50. The only reasonable explanation is incorrect field offsets because of the newly appeared virtual table.

[2014-07-15 21:29] #207 closed, assigned to nobody

[2014-07-15 21:30] #212 closed, assigned to nobody

[2014-07-15 21:34] #290 closed, assigned to nobody

[2014-07-15 21:34] #30 closed, assigned to nobody

[2014-07-21 14:22] kamac opened #295 "Original pointer must not be null exception"
When trying to create bindings, at the end of the process I get "Original pointer must not be null" exception. Any idea what could be the cause here, or could that be anything?

I can create bindings for provided SDL sample just fine, so it's just this project I am trying to create bindings for. Also, the source consists of about 20 or more files.

The stack:
CppSharp.DeclConverter.Visit(Declarati

[2014-08-07 09:10] karliss opened #301 "incorrect LLVM and Clang revisions"
Last revision known  to work in Getting Started is incorrect. It should be at least  r213557 ( llvm-mirror/llvm@95689f0845b0b6344d78746522a14790358e49f4 ) due to changes in  76e254e766c3eb99f888d57fa6e26fa2ad41657f  Having to dig through commit history  for both CppSharp and Clang to guess the correct  Clang/LLVM revision is very unfriendly for people new to this project.  Some ideas for improving

[2014-08-07 18:00] tomspilman opened #302 "CS_OUT Fails On First Parameter"
If I have the following exported C++ methods:

[code]

In the generated C# wrapper the `out` is ignored on the first parameter case:

[code]

[2014-08-08 14:05] #302 closed, assigned to nobody

[2014-08-18 22:44] ddobrev opened #312 "Fix the calls of explicit destructors to avoid double freeing"
Only the most derived destructor has to be called.

[2014-09-02 14:43] ebifrier opened #320 "Problems of the cli generator"
I found some bugs in the cli generator.
I wrote details with the sample.

// Sample.h ///////////////////////////////////

[code]

// Wrapper.h ///////////////////////////////////

[code]

[2014-09-02 17:24] ebifrier opened #321 "The include path problems"
If the characters of the include path is different, it's considered a different file.
For example,
  #include "test/../Sample.h"
  #include "Sample.h"

These are different, so 'Sample.h' is generated many times.

[2014-10-02 14:21] golddranks opened #328 "Trying to make QtGui work / base method search crashes on certain occasions"
Hi, I'm trying to make QtSharp work. The base library, QtCore already works, but when generating wrappers to a dependent library, QtGui, it crashes. (Ref. my discussion with the QtSharp maintainer: https://github.com/ddobrev/QtSharp/issues/8 )

The problem seems to be that CppSharp doesn't handle inter-library dependencies well enough yet. As QtGui is dependent on QtCore, the wrapper generation fa

[2014-10-05 22:08] ddobrev opened #334 "Improve ParamTypeToInterfacePass to only ignore the first param of operators"
C# requires the first param to match the containing type but the rest can be anything so we'd better map them to their interfaces, if any.

[2014-10-07 12:18] #301 closed, assigned to nobody

[2014-10-07 12:18] #270 closed, assigned to nobody

[2014-10-15 11:52] ddobrev opened #342 "Incompilable code when nesting more than one anonymous type"
To reproduce, add one more anonymous type to TestNestedTypes in Basic.h and regenerate.

[2014-10-20 09:43] ddobrev opened #348 "Marking classes as static can cause generation of invalid code"
To reproduce, add:

class Static
{
public:
    static Static StaticFunction();
private:
    Static();
};

and:

Static::Static()
{
}

Static Static::StaticFunction()
{
    return Static();
}

[2014-10-21 16:44] #328 closed, assigned to nobody

[2014-10-24 17:25] codingcaveman opened #351 "Wrapper functions generated with missing instance pointer - does not compile"
Given a simple test library compiled for armeabi-v7a (Android)

_Test.h_

[code]

and _Test.cpp_

[code]

wrapped in C# with

[code]

The following C# wrapper code is generated (parts omitted for clarity):

[code]

Note the internal function `sum_0` is generated without the instance pointer, so this class does not compile.  Correct code should be

[code]

[2014-10-24 20:49] #351 closed, assigned to nobody

[2014-10-26 00:35] #295 closed, assigned to nobody

[2014-10-26 02:58] #348 closed, assigned to nobody

[2014-11-02 20:22] ddobrev opened #362 "C++/CLI generator does not create implementations for static fields (variables)"
Static fields (variables) are represented as properties but the C++/CLI generator only creates definitions in headers for those. To reproduce, move:

static int null;

from CSharpTemp.h to Basic.h.

[2014-11-03 20:23] ddobrev opened #365 "Static methods can create name-space conflicts when wrapped with C++/CLI"
To reproduce, go to CLITemp.h and move testStdString from its class to a free function.

[2014-11-04 00:36] plantain-00 opened #367 "Error appears when compile llvm on windows following the instructions of the "Get Started""
I finished the "Common setup" step

execute:
cd <CppSharp>\deps\llvm\build

execute:
cmake -G "Visual Studio 12" -DCLANG_BUILD_EXAMPLES=false -DCLANG_INCLUDE_DOCS=false -DCLANG_INCLUDE_TESTS=false -DCLANG_INCLUDE_DOCS=false -DCLANG_BUILD_EXAMPLES=false -DLLVM_TARGETS_TO_BUILD="X86" -DLLVM_INCLUDE_EXAMPLES=false -DLLVM_INCLUDE_DOCS=false -DLLVM_INCLUDE_TESTS=false ..

it says no cmake found, so I i

[2014-11-04 01:30] #367 closed, assigned to nobody

[2014-11-05 18:16] golddranks opened #368 "Constructor default value bug"
Still trying to get QtGui to work. I ran into following problem:
 C++ "explicit QPaintEngine(PaintEngineFeatures features=0);" transforms into following:

protected QPaintEngine(QPaintEngine.PaintEngineFeature features) { ... }
protected QPaintEngine() : this(new 0) { ... }

It substitutes the default value by creating overloaded constructors. However, "new 0" is clearly wrong. It emits that code

[2014-11-05 18:37] golddranks opened #369 "Confused namespaces with enums"
Another bug with generating Qt wrappers.

In qnamespace.h of QtCore, namespace Qt is introduced. Inside that, there's enum GlobalColor which includes the value white.

Now, that value is referenced in QtGui's qpixmap.h as Qt::white, but it doesn't get converted at all. It's Qt::white even in the result QtGui.cs.

The actual value couldn't been found until specified thus: (using QtCore; in the star

[2014-11-06 12:02] plantain-00 opened #370 "error appears when build cppsharp"
when I run "msbuild vs2013\CppSharp.sln /p:Configuration=Release;Platform=x86"

the error message is(ignore non-English words please):

“D:\Github\CppSharp\build\vs2013\CppSharp.sln”(默认目标) (1) ->
“D:\Github\CppSharp\build\vs2013....\examples\SDL\SDL.csproj.metaproj”(默认
目标)
2) ->
“D:\Github\CppSharp\build\vs2013....\src\Generator\CppSharp.Generator.csproj.

etaproj”(默认目标) (4) ->
“D:\Github\CppSharp

[2014-11-13 12:09] nref opened #371 "ConsoleDriver.Run"
In Gen.sln, Gen.cs:25

[code]

throws System.IO.FileNotFoundException. Additional Information: Could not load file or assembly 'CppSharp.Parser.CLI.dll' or one of its dependencies. The specified module could not be found.

Using VS2012 32-bit builds. Same behavior on debug and release.

[2014-11-13 13:46] #370 closed, assigned to nobody

[2014-11-13 14:17] #371 closed, assigned to nobody

[2014-11-14 19:12] golddranks opened #372 "HandleDefaultParamValuesPass doesn't clear Visited, is this the intended behaviour?"
I'm trying to implement the support for dependencies among wrappers made with CppSharp. However, now I'm stuck with this. I'm using the Qt::white default parameter referenced in https://github.com/mono/CppSharp/issues/369 as my primary test case. However, in  HandleDefaultParamValuesPass, which is supposed to handle these kinds of default parameters, this parameter isn't even visited, since the QP

[2014-11-18 17:02] #372 closed, assigned to nobody

[2014-11-21 09:56] GeorgeR opened #374 "Type error in Parser.cpp"
As of commit a763abd923e0a6c53f74892b76e64e6bff2b8c6d using VS11 (2012), x86 at line 3219:
Error   21  error C2664: 'std::unique_ptr<_Ty>::unique_ptr(std::nullptr_t) throw()' : cannot convert parameter 1 from 'llvm::ErrorOr<T>' to 'std::nullptr_t'

C++ is new to me - if it was C# I'd pull, fix and push!

[2014-11-22 08:37] #374 closed, assigned to nobody

[2014-12-13 14:23] GeorgeR opened #380 "Fixed size array in struct"
CppSharp is giving an erroneous result for when you have a fixed size array in a type. So for example, put this in CSharpTemp/CSharpTemp.Native/CSharpTemp.h inside the Bar class:

Foo foos[4];

Generating that will show the errors (C# can't do it for non primitive-ish types), and I don't know the best alternative implementation.

[2014-12-13 16:20] #321 closed, assigned to nobody

[2014-12-13 22:23] ddobrev opened #383 "Support operators of structs in derived types"
The only way seems to be implicit cast operators from the derived type to the base one so that operators can be used.

[2014-12-13 22:27] ddobrev opened #384 "Fix the pass for object overrides; extend Equals to support all == operators"
We currently only support Equals for operators taking two parameters of the same type. We need to extend its body to support other comparison operators, if any.

[2014-12-17 19:55] #369 closed, assigned to nobody

[2014-12-17 19:55] #368 closed, assigned to nobody

[2014-12-17 20:23] golddranks opened #388 "Fixing the namespaces"
Now that I have some kind of idea how to write tests, I thought I'd try to fix some bugs that are blocking QtGui wrapper generation from working.

There is the namespaces bug, mentioned earlier here: https://github.com/mono/CppSharp/issues/369

The earlier issue had the enums, default params and namespaces issues confused (and the enum and default params issues are already solved), so I created th

[2014-12-17 20:27] golddranks opened #389 "Some generation bugs"
In addition to https://github.com/mono/CppSharp/issues/388, there's some other bugs that block QtGui wrapper from building. I made tests for those too:

A bug with floating point notation with default params (should be easy, but haven't checked the actual problem yet)
https://github.com/golddranks/CppSharp/commit/55f25b24e4752371cbbcda61dcb2213ec1979096

and

A bug with generating a wrapper for op

[2014-12-18 18:03] #389 closed, assigned to nobody

[2014-12-29 12:57] gpetrou opened #396 "Build website status?"
Hello,
has the build website (builds.tritao.eu) changed? It does not seem to be available anymore.

[2015-01-07 20:49] tritao opened #402 "Incorrect handling of virtual methods"
Consider this case:

C++:
```static Base getBase() { return Derived(); }```

C#:
[code]

[2015-01-13 08:43] tomspilman commented on #312
I've run into this too.  Basically the top most overloaded `Dispose(bool disposing)` is all that needs to be called...  it needs to handle calling the destructor and it needs to free the object memory.

My fix was a change in `CSharpTextTemplate.GenerateDisposeMethods()`...

https://github.com/mono/CppSharp/blob/4e7896b8b6aae94140ed5bfc6c8ac96455f9ac2f/src/Generator/Generators/CSharp/CSharpTextTem

[2015-01-13 12:44] tritao commented on #312
Fix makes sense and looks good to me. I'll try to come up with a test case and push this in later.

[2015-01-13 20:58] tomspilman commented on #312
Thanks @tritao !

[2015-01-13 23:26] golddranks opened #403 "A bug introduced by the recent base classes offset commit"
Hi, now Qt generation crashes with this kind of code:

(from QtCore's global.h)

    template <class T>
    struct AlignOf_Default
    {
        enum { Value = sizeof(AlignOfHelper<T>) - sizeof(T) };
    };

    template <class T> struct AlignOf : AlignOf_Default<T> { };

For reason or another, the

        auto BaseDecl = BS.getType()->getAsCXXRecordDecl();

line in the parser.cpp, introduced in

[2015-01-14 01:43] tritao commented on #403
Thanks for the bug report, I had tested with Qt but for some reason did not catch this before.

[2015-01-14 01:43] #403 closed

[2015-01-14 21:09] ddobrev opened #405 "Investigate the order of declarations after parsing"
There was a crash in QtGui in the property pass when an overridden property wasn't found because the base class had not had its properties generated yet. The crash has been fixed by https://github.com/mono/CppSharp/pull/404 by manually visiting the bases first. However, the bases should've been visited first anyway because the parser processes bases first. So this needs to be further investigated.

[2015-02-11 10:49] golddranks opened #409 "QtCore regression introduced by friend classes support"
Before friend classes support, the generated QMap wrapper looked like this:

    public unsafe partial class QMap
    {
        [StructLayout(LayoutKind.Explicit, Size = 0)]
        public partial struct Internal
        {
            [FieldOffset(391495169)]
            public global::System.IntPtr d;
        }

        public unsafe partial class Const_iterator
        {
            [StructLayou

[2015-02-11 10:52] golddranks commented on #409
I think that the same problem manifests with another bug:

    public unsafe partial class QList
    {
        [StructLayout(LayoutKind.Explicit, Size = 0)]
        public partial struct Internal
        {
            [FieldOffset(391495169)]
            internal QList._.Internal _0;
        }

        internal unsafe partial class Node
        {
            [StructLayout(LayoutKind.Explicit, Size

[2015-02-11 11:41] tritao commented on #409
Thanks for spending some time on this regression, I'll look into this today.

[2015-02-12 16:12] teichgraf commented on #396
Would appreciate if you get it up and running again. :)

[2015-02-12 16:29] teichgraf opened #410 "Provide support for collections for P/Invoke bindings"
std::vector or std::array is quite common and it would be great if it can be used to pass collections between C/C++ and C#. Please add support for std::vector (or std::array) and that the CppSharp Runtime supports a proper wrapper implementing IList, ICollection, etc.

C++
            std::vector<MyModel> GetModels() {return _models; }

Should generate C#:
            Std.Vector<MyModel> Models {

[2015-02-17 16:37] golddranks commented on #409
Has this advanced at all?

[2015-02-17 19:25] golddranks commented on #409
https://github.com/golddranks/CppSharp/tree/friend_test

I made a simple test to help diagnosing. Placed it to CSharpTemp, but I'm unsure what that project is for? Is Temp short for templates or for temporary?

[2015-02-17 23:15] tritao commented on #409
Temporary. We really should remove the Temp from the test names, they're not temporary anymore and keep CLI and CSharp-specific tests.

[2015-02-17 23:55] #409 closed

[2015-02-19 14:12] golddranks opened #411 "Recent patch fix the regression when parsing class templates but introduced a new one"
Commit bf9fb6412085771c3174aababe95b37ae719a89a, a simple change, patches the regression, but now QtCore generation crashes right away.

It fixes the patch by circumventing a check that is done inside `Class* Parser::WalkRecordCXX(clang::CXXRecordDecl* Record)`. The check is about if the `Process` bool returned by `GetRecord` is false or true. The patched version continues processing regardless of

[2015-02-20 09:44] Dreamwalker666 opened #412 "Documentaion on "Compiling LLVM on Windows/Visual Studio""
In the documentation it says to make a build directory then change into it then run CMAKE.  This will fail as CMAKE won't find the cmake file it needs.

How should this section be performed?

[2015-02-20 09:45] Dreamwalker666 commented on #396
+1 :)

[2015-02-20 09:50] tritao commented on #412
Try `cd build` and then `cmake ..`.

[2015-02-20 09:52] tritao commented on #412
What are you trying to invoke and what error do you get?

[2015-02-20 10:25] Dreamwalker666 commented on #412
Well the process says:

-  Clone CppSharp to <CppSharp>
-  Clone LLVM to <CppSharp>\deps\llvm
-  Clone Clang to <CppSharp>\deps\llvm\tools\clang
-  Create directory <CppSharp>\deps\llvm\build

then

-  cd <CppSharp>\deps\llvm\build
- cmake -G "Visual Studio 12" .....
- msbuild LLVM.sln /p:Configuration=RelWithDebInfo;Platform=Win32 /m

But you have just created the directory so there will be no cm

[2015-02-20 10:29] tritao commented on #412
So you haven't actually tried it?

We pass the parent directory to CMake (which has the needed files) with the `..` argument what the end. Perhaps if you actually paste some _actual error message_ as in copy/paste what you're trying and the output I can actually give some directed help instead of trying to guess what problem you're facing.

[2015-02-20 10:39] Dreamwalker666 commented on #412
Yes I tried it and my mistake was I missed the ".." at the end of the line sorry.

[2015-02-20 10:39] #412 closed

[2015-02-22 12:48] #411 closed

[2015-02-22 12:49] tritao commented on #411
`So, the processing SHOULD continue for some classes, i.e. for QMap but SHOULDN'T continue for some, i.e. QIntegerForSize? What separates them?`

The problem is that we should not continue processing forward declarations, which is what the `Process` check was actually doing.

[2015-02-24 11:42] CPPAndCSharpStudent opened #416 "Arrays of constant-size are ignored"
In an attempt to learn more about CppSharp tool itself, I tried to test it against gmp.h and gmpxx.h and both have failed despise my attempt in manipulating the settings and I was unable to understand why this failed.

I get a lot of errors like this:

Pass 'CppSharp.Passes.CheckIgnoredDeclsPass'
    Typedef 'mpz_t' was ignored due to unsupported type
    Typedef 'mpq_t' was ignored due to unsuppo

[2015-02-24 11:50] tritao commented on #416
From GMP's headers I see the following:

```typedef __mpz_struct mpz_t[1];```

So those types are really arrays of constant-size 1. I'll need to follow up later on this one to see if we can support this better.

[2015-02-24 23:32] CPPAndCSharpStudent commented on #416
It also seems to happen for a lot of different libraries, but I am  not sure why is this kind of error preventing the extern methods functions from using pointers instead of structs? It would make more sense to use the pointer whenever type object cannot be parsed.

[2015-02-25 12:47] tritao commented on #416
There's no technical reason we can't generate the externs for those types, it's just no one requested that before. I can see it would be useful to export them since then some higher-level API could be written by hand for them.

[2015-02-25 16:12] tritao commented on #416
I did some checking to see why this does not work yet...

We ignore non-primitive constant arrays here: https://github.com/mono/CppSharp/blob/master/src%2FGenerator%2FPasses%2FCheckIgnoredDecls.cs#L345

The main reason we don't currently support it is because C# has a limitation on fixed size buffers (only primitive types are supported): https://msdn.microsoft.com/en-us/library/vstudio/zycewsya%28

[2015-02-25 16:19] tritao commented on #416
Related issue: https://github.com/mono/CppSharp/issues/380

[2015-02-25 19:42] CPPAndCSharpStudent commented on #416
Thank you, I'll try to research into Clang AST to see (it'd be helpful for any materials you can list that I should read about) and I'll try to find a way to implement this.

[2015-03-04 10:38] txdv opened #418 "Documentation"
I was looking at https://github.com/mono/CppSharp/blob/master/docs/GettingStarted.md#compiling-cppsharp-on-linux

Now that we have http://www.mono-project.com/download/#download-lin maybe we should change it to link it to this page? It has far more distributions and ways to install mono!

I am currently trying out the guide whether it is working at all, so I don't know whether monoxide has some pa

[2015-03-04 11:53] txdv commented on #418
I kinda used the guide this guide and in the end I get

[code]

It is strange that llvm doesn't find https://github.com/mono/CppSharp/blob/137b5c86927ca4a8da5004b9b69c932d6500680b/tests/Basic/Basic.h#L6

I have used the revisions of llvm and clang that are provided in the doc file. Maybe some newer revisions are working now?

[2015-03-04 12:22] tritao commented on #418
Seems like Clang cannot find the standard C++ library headers.

The related setup code is here: https://github.com/mono/CppSharp/blob/master/src/Generator.Tests/GeneratorTest.cs#L33

You can try to set `options.Quiet` to `false` and set `options.Verbose` to `true`. That should give you some more diagnostics regarding Clang system header lookup paths. Also make sure `options.NoBuiltinIncludes` is `

[2015-03-04 12:38] txdv commented on #418
I'm not very familiar with this build system, I just didn't get it where what is how compiled.

Now I understand that GeneratorTest is invoking clang probably with wrong include directories. I'll try to investigate, for now I'll post the error message which
[code]

[2015-03-04 12:38] txdv commented on #418
I tried to remove the ubuntu debian packages of clang, but it didn't help, investigating the C# code now.

[2015-03-04 12:46] tritao commented on #418
So from the log we can see that Clang did not properly setup your system include directories. Now this can be either because there's a bug in Clang or because maybe we're not passing the correct triple, even though it should be setup as the default.

You can add a print here: https://github.com/mono/CppSharp/blob/master/src/CppParser/Parser.cpp#L164

Related code in Clang:

https://github.com/llvm

[2015-03-04 13:23] txdv commented on #418
I fixed it temporarily by adding
[code]

To Parser.cpp, but i'll investigate why clang doesn't actually initialize it properly, https://github.com/mono/CppSharp/blob/master/src/CppParser/Parser.cpp#L195-L196 this should ensure that it actually does it.

[2015-03-04 14:47] txdv opened #419 "Microsoft Copyright"
Is this really Microsoft Copyrighted?

https://github.com/mono/CppSharp/blob/master/src/Generator/Properties/AssemblyInfo.cs#L13

[2015-03-04 14:58] tritao commented on #419
No, those are just the default values provided by Visual Studio I guess. I'll fix later.

[2015-03-04 15:26] txdv opened #421 "Easier entry level."
Hey, I have finally been able to compile your project, however, the only way is to use the command line.

This makes a few things hard, like, one can't browse the code with VisualStudio or MonoDevelop in order to learn it.

Is there any way to create the solutions files for all the projects so one can explore/browse the code with a normal IDE?

[2015-03-04 15:32] tritao commented on #421
Yes, run `premake vs2012`and you will get solutions that you can use with MonoDevelop/Xamarin Studio. You'll still probably need to compile via the command line but at least that'll allow you to get some code-completion. I use that technique on OSX myself.

[2015-03-04 23:07] stsundermann opened #423 "Compilation fails on osx"
Compilation crashes in Basic.Gen.exe in native code. I'm running CppSharp for 64 bits on osx 10.10 using a recommended llvm x64 version. Is this crash known? Stacktrace:

[code]

[2015-03-04 23:37] tritao commented on #423
Hmm I think I know what the issue might be. I don't think I've ever tested a 64-bits C++# on OS X because we do not ship a 64-bit Mono there yet. Guess you compiled your own version.

The native parser needs to have 64-bit bindings generated, you can find them here: https://github.com/mono/CppSharp/tree/master/src/CppParser/Bindings/CSharp

They are generated by `Parser.Gen` which you can find her

[2015-03-04 23:50] tritao commented on #423
For some reason I assumed you were using a 64-bit Mono VM but if that's not the case then ignore everything I said above and just try the 32-bits builds.

[2015-03-04 23:52] stsundermann commented on #423
I'm on a 64 bit mono and your fix did work :smile:

The next problem is that a test is failing to compile:

[code]
It seems like something is not included during the build, I'm investigating

[2015-03-05 00:09] tritao commented on #423
See the discussion we had earlier today here: https://github.com/mono/CppSharp/issues/418

Seems like the same problem but on OSX. I think we might be missing a call to Clang driver to have the headers path automatically setup... For now the easiest way to fix it might be to just manually add the needed header paths.

In case you want to go the hard way of looking everything up I have some code th

[2015-03-05 00:29] stsundermann commented on #423
It seems like that's really a similar issue.
I enabled verbose logging the include path for the compiled clang is in there but there are more pointing to the clang installed in /usr. Maybe something gets confused between Apple's clang in /usr and the self compiled one. Do I need to install the compiled clang? Here's the verbose log:

[code]

[2015-03-05 02:31] stsundermann commented on #423
From this answer on stackoverflow http://stackoverflow.com/questions/10116724/clang-os-x-lion-cannot-find-cstdint the clang's c++11 includes should be at ```/usr/include/c++/v1``` My installation doesn't have that folder. When --stdlib=libc++ is set then the includes from that folder should be used automatically.

After a bit of research Apple has moved the header files to /Applications/Xcode.app/

[2015-03-05 11:39] txdv commented on #421
Well, good enough for me. Thanks.

[2015-03-05 11:39] #421 closed

[2015-03-05 11:41] tritao commented on #423
Changes on `ParserGen` do not affect the test driver which is here: https://github.com/mono/CppSharp/blob/master/src/Generator.Tests/GeneratorTest.cs#L52

Maybe it's enough to just add: `options.addArguments("-stdlib=libc++");` when running under OSX.

I'm starting to think we should just drop Clang for headers path lookup and just set them ourselves.

[2015-03-05 11:55] txdv opened #424 "Issues with generating bindings"
Hi, I have tried to use CppSharp to create bindings for alsa

[code]

This looks basically like the SDL example. But it does not produce anything.

The file asoundlib.h has only includes, just like the SDL example:

[code]

But it doesn't produce anything, even though all the other files exist. Maybe I am doing something wrong which is obvious to you @tritao ?

[2015-03-05 11:55] tritao commented on #424
Can you paste the log?

[2015-03-05 12:03] txdv commented on #424
It is basically empty:

[code]

[2015-03-05 12:08] tritao commented on #424
Log looks good, try removing the `options.CheckSymbols = true` option.

[2015-03-05 12:15] stsundermann commented on #423
Adding ```-stdlib=libc++``` fixes the issue. I've sent a PR which adds that option. Thanks for helping me getting this to run on osx :)

[2015-03-05 12:17] txdv commented on #424
The output is the same:
[code]

[2015-03-05 12:19] #423 closed

[2015-03-08 23:49] #419 closed

[2015-03-09 23:04] tritao commented on #424
Have you figured it out? If not feel free to send me a package with your solution and ALSA headers and I'll take a look.

[2015-03-11 15:13] txdv commented on #424
No, not really. This is the file: http://bentkus.eu/~bentkus/alsa.tar.gz

[2015-03-18 19:42] kevkon3 commented on #396
+1

[2015-03-18 22:52] hima3024 commented on #396
+1

[2015-03-23 19:19] benpye opened #432 "Binding generation issue"
I've been revisiting CppSharp in the hope that I'd be able to programatically generate bindings for libspotify. I have been able to compile the project, and it does run, however I am hitting a bit of a wall when it comes to actually setting up the library for use. libspotify relies on typedefs for opaque types, which appears to cause issues with CppSharp.

[code]

Above shows how the typedefs are

[2015-03-23 19:45] txdv commented on #432
I'm not dis-encouraging you to create bindings for libspotify, but you might be interested in this: https://github.com/torshy/torshify

[2015-03-23 21:39] benpye commented on #432
Thanks, I will probably use that however, I am still interested in how I am misusing CppSharp. Up until now I hadn't found anything other than SpotiFire which is Windows only.

[2015-03-30 04:11] BlackCentipede opened #433 "Segmentation Fault Issue"
I've been trying to get CppSharp to work on Antergos linux distro, I've followed the instruction explained in CppSharp Getting Started documentation to the letter when I cloned, compiled, and try with both versions, specified versions listed in CppSharp compilation instruction and the latest version from these repos:

https://github.com/llvm-mirror/llvm
https://github.com/llvm-mirror/clang

(Initi

[2015-03-31 11:42] tritao commented on #433
It's hard to say why it's crashing... make sure your LLVM and Clang libraries are compiled for the same architecture and bitness as CppSharp and Mono. From the stacktrace it seems to crash in `std::swap` which makes no sense to me.. so I would say it's probably some mismatched configuration somewhere...

Actually are you compiling in 32-bits by any chance? Right now we only support for 64-bits for

[2015-03-31 11:53] tritao commented on #432
As you've found out our support for C is not very robust so it doesn't surprise me that we need a few tweaks here and there to make it work with the idioms in that language. This seems one of those cases.

We already have an `IsOpaque` property that can be used to signal this: https://github.com/mono/CppSharp/blob/d2d941638a87656c429121ef99ccc023b3dce2e7/src/AST/Class.cs#L84

You can try to set th

[2015-03-31 13:12] BlackCentipede commented on #433
I've checked and verified the complied binary for all dependencies and Mono library itself that everything are in 64 bits.

LLVM and Clang in both compiled build directory and installed system directories are all in elf64-x86-64 format and compiled for i386:x86-64 architecture. I also take extra care to ensure that CppSharp shared object libraries are compiled in 64 bits which show to have same ou

[2015-04-02 13:22] benpye commented on #432
Yeah I did try setting IsOpaque, both by finding the class and the helper method, neither worked unfortunately. I believe what you said about the later passes needing to allow opaque types is true.

[2015-04-03 04:33] txdv commented on #432
I wonder what your advice is on handling types that are not really declared, as in, their layout is not declared but the type is used as a pointer in a bunch of methods.

Currently CppSharp just ignores them as being incomplete and doesn't generate bindings for any method containing an argument or return type with that contain such an incomplete type.

[2015-04-04 20:50] jamesford42 opened #434 "CS_IGNORE on constructors still generates dllimport"
I have a class which is only allocated in C++ via a different a classes static method. So the constructor needs to be public but it contains parameters which do not exist in C#, hence I marked it with CS_IGNORE. However the dllimport lines in the C# wrapper class for that constructor (containing missing types) is still generated, even though it is never called.

[2015-04-04 20:52] jamesford42 commented on #434
Actually, even if I make the constructor private the result is the same. This seems to only occur when this is the only constructor. In fact I can make a default constructor that is never even implemented and it fixes the build.

[2015-04-09 21:22] jamesford42 opened #435 "Header included more than once breaks method names."
ClassA.h defines ClassA and includes ClassY.h
ClassB.h defines ClassB and includes ClassY.h
ClassA, ClassB, and ClassY are all marked for export.

The C# class generated for ClassY ends up appending '1' to all its method names. Eg, ClassY::Init() in C++ becomes ClassY.Init1() in C#.

Note that ClassY.h is protected by header guards, since it needs to be included in more than one other header file.

[2015-04-10 20:33] jamesford42 opened #436 "A local variable named '__value' is already defined in this scope"
When using the macro CS_VALUE_TYPE the on a type which has more than one array field, CppSharp generates code which does not build. Here is the code.

C++:
struct CS_VALUE_TYPE UnpackedPacket
{
	char fromOnlineId[SCE_NP_ONLINEID_MAX_LENGTH];
	char toOnlineId[SCE_NP_ONLINEID_MAX_LENGTH];
	uint8_t buffer[kPacketPayloadSize];
	size_t size;
};

C# (problem method):
public UnpackedPacket(global::System

[2015-04-10 20:34] jamesford42 opened #437 "A local variable named '__value' is already defined in this scope"
When using the macro CS_VALUE_TYPE on a type which has more than one array field, CppSharp generates code which does not build. Here is the code.

C++:
[code]

C# (problem method):
[code]

[2015-04-10 20:35] #436 closed

[2015-04-10 21:01] tritao commented on #437
Thanks for the report, should be straightforward to fix.

[2015-04-10 21:41] jamesford42 opened #438 "CS_OUT arguments not assigned"
Trying to use CS_OUT on an argument that is a class marked with CS_API and passed in as a pointer (intending that the method call will dereference and assign a new value), results in the error:
Use of unassigned out parameter 'ExampleType'.

In particular this line is the problem. This testing of if the parameter is null prior to deciding to allocate a new one is invalid for an 'out' parameter in

[2015-04-12 22:28] ddobrev opened #439 "Incorrect line number of friends"
Steps to reproduce:

1. Add the following code:

[code]

to HasConstFunction in AST.h;

2. Add the following code:

[code]
 at the end of AST.h;

3. Add the following code:

[code]
to TestAST.cs;

4. Run the test from 3.

The test fails because the reported location is 74 - the location of the friend declaration. However, the friend itself is located at about 81 (depending on the number of inserte

[2015-05-06 20:36] tritao commented on #439
Fixed by https://github.com/mono/CppSharp/commit/99c124eb53876f94b122d088a3180e2bf1b2a078.

[2015-05-06 20:36] #439 closed

[2015-05-06 23:47] ddobrev opened #445 "Function signstures include non-const appendages after the closing parenthesis"
Add these to AST.h:

void func() MY_MACRO;
void func() const MY_MACRO;

The signature of the function should only include the const (if any) but it also includes any other symbols.

[2015-05-10 17:12] alexanderkyte commented on #418
I'm running into this issue on linux.

[2015-05-12 13:58] tritao commented on #264
Fixed by https://github.com/mono/CppSharp/pull/448

[2015-05-12 13:58] #264 closed

[2015-05-12 15:57] JamesLupiani commented on #264
Thanks @genuinelucifer and @tritao!

[2015-05-13 11:14] genuinelucifer commented on #342
I was trying to recreate this issue.. But,
I could NOT find any "TestEmptyName" in either of the 2 Basic.h files!! Am i missing something here?

[2015-05-13 11:15] genuinelucifer commented on #362
I was trying to recreate this issue.. But,
I could NOT find "static int null;" in CSharpTemp.h!!
What am i missing??

[2015-05-13 11:43] ddobrev commented on #342
@genuinelucifer The type has been renamed to "TestNestedTypes" but the text of the issue hadn't. Sorry about that.

[2015-05-13 11:46] ddobrev commented on #362
No idea what's happened here. Just add such a member to Basic.h and regenerate to see if there's any problem.

[2015-05-13 12:43] genuinelucifer commented on #342
Thanks. Can you please guide me where is the code for marshalling nested types so that I can work upon this.

[2015-05-13 12:56] ddobrev commented on #342
@genuinelucifer I assume you've reproduced the issue. You can start from the Generate* methods in CSharpTextTemplate: GenerateClass, GenerateMethod, etc.

[2015-05-13 13:13] genuinelucifer commented on #342
Yes, i reproduced the issue. Thanks, i will start working on it.

[2015-05-13 13:32] genuinelucifer commented on #362
Here is what I tried to recreate the issue :
https://gist.github.com/genuinelucifer/82c983dd3087a3bb37a1
I added two global variables and 2 private variable in Foo class (1 static and one non-static in each case) in the Basic.h file...
None of the 4 variables were generated in Basic.h or Basic.cpp (in vs2013/gen/Basic/)
only 1 out of the 4 (only the non-static class member 'normalFooTest') was gen

[2015-05-13 13:48] ddobrev commented on #362
static int staticFooTest; is private so it shouldn't be generated. The two outside the class should be generated in another class, not in Foo.
About C++/CLI, there should be a property generated for a public static field of a class so make sure you test with a public member.

[2015-05-13 14:09] genuinelucifer commented on #362
@ddobrev My main concern is that the global variables are nowhere generated. I added one static and one non-static global variable in Basic.h and none of them was generated in either Basic.cs or in the Basic.h/cpp files!
Am i doing something wrong or is this the issue?

[2015-05-13 15:49] ddobrev commented on #362
I am afraid I'm a little busy. Please solve the other issue first and then we'll get back to this one.

[2015-05-14 03:38] genuinelucifer commented on #342
@ddobrev @tritao Here is the diff file for the changes i made :
https://gist.github.com/genuinelucifer/08891fb6931cd63288e0
.
The code is fully compilable now and as you can see i nested 4 more anonymous types to test and it worked pretty well!
The only thing I am concerned about is you may not find this solution elegant because one of the identifiers that was generated in Basic.cs had 33 undersco

[2015-05-22 12:31] genuinelucifer commented on #437
My solution for this :-1:
https://gist.github.com/genuinelucifer/e64cfee951a1c36f0e81
.
Please provide a review and if it is acceptable i can open a pull request.

[2015-05-30 11:44] genuinelucifer commented on #438
I recreated the issue with :
https://gist.github.com/genuinelucifer/9e23701dee397e5c41c3
.
What i guess is both the functions should generate the same C# code for ref type class.. I am not clear as what a value type 'out' argument would act as! Also i am not completely sure about what should be in C++/CLI code for these.
Please guide me as to what should be the expected output in each case.

[2015-06-01 12:35] tritao commented on #438
You're right, we should generate the same code for ref type class. Well it might have minor differences but it should mostly look the same.

And in C++/CLI case I think it needs to use a tracking reference (written as `%` type modifier). See
https://msdn.microsoft.com/en-us/library/6f63s5b1.aspx.

[2015-06-01 12:45] genuinelucifer commented on #438
Thanks. Will read about the tracking reference and then try to implement it.
On 01-Jun-2015 6:05 PM, "João Matos" <notifications@github.com> wrote:

[2015-06-02 11:49] tritao opened #452 "Union is generating code that does not compile"
[code]

Generating:

[code]

[2015-06-02 12:01] tritao opened #453 "Incorrect comment generation"
C++ code:

[code]

Generated code:

[code]

[2015-06-02 14:18] tritao opened #454 "Parameter with type `const char**` generates broken code"
[code]

Generates:

[code]

[2015-06-03 13:39] #454 closed

[2015-06-03 13:47] tritao commented on #452
Shouldbe fixed by https://github.com/mono/CppSharp/commit/f81247911b781a04d38ccb4df6d9125db5b432b3.

[2015-06-03 13:50] jasper22 commented on #432
May be I'm doing something wrong by current version of CppSharp can not read typedef definitions from another .h file :( I have to manually copy all my 'typedef' lines to every (!) file where it's used :(

[2015-06-03 14:10] tritao commented on #432
Could you create another issue and post some more details about your problem? You definitely should not need to manually copy typedefs, the parsing is handled by Clang.

[2015-06-03 15:01] #452 closed

[2015-06-03 16:54] jasper22 commented on #432
Hi @tritao - this is gist: https://gist.github.com/jasper22/f90d7594045a24e1ac30

but may be I did something wrong :(

P.S. If you need libELF it's here: https://github.com/jasper22/libELF

[2015-06-03 17:48] tritao commented on #432
From quick glance, I think the problem is that you're trying to pass all libDWARF headers to CppSharp, I suspect some of them are not meant to be included on their own but only as part of other files. For instance, `dwarf_abbrev.h` does not include any other files, even though it uses types that are defined outside its translation unit.

The same will happen if you try to use those errors with a C

[2015-06-05 07:27] yuntan opened #457 "Failed to build (SIGSEGV) VTables.CSharp target on linux with mono 4.0.1"
I tried to build CppSharp (d3d98dc0e8199690cb31f9a35569edbaba52c57f) on Arch linux 64bit with mono 4.0.1, following instruction on [Getting started.md](https://github.com/mono/CppSharp/blob/d3d98dc0e8199690cb31f9a35569edbaba52c57f/docs/GettingStarted.md). I used llvm and clang version specified on the doc. But I got following error and build failed.

http://pastebin.com/SxM6zQ9h

[2015-06-05 16:19] KonajuGames opened #458 "Supporting PowerPC target?"
How difficult would it be to add support for a PowerPC target?
- Add support for any special ABI requirements.
- Rebuild LLVM to support PPC.
- Anything else?

[2015-06-05 21:23] tritao commented on #458
I assume you mean generating bindings that work on a PowerPC target system and not running CppSharp on a PowerPC host.

I wouldn't expect much difficulty in adding support for a new target but it depends on the C++ ABI model of the target. Assuming this is for Xbox 360, I would expect it uses the same Microsoft C++ ABI that we already support.

LLVM support for PowerPC is not needed since we're no

[2015-06-07 19:37] alexanderkyte commented on #457
You're not alone. This crash happens in this environment:

[code]

[code]

[code]

[2015-06-10 06:32] genuinelucifer commented on #438
I fixed the CSharp side of the code generation with :
https://gist.github.com/genuinelucifer/d73aa4039903b0c06e6d
.
I assume it was the expected solution.
.
But, i am NOT able to implement on the C++/CLI side because I am unable to figure out how the C++/CLI side is differentiating between "CS_OUT RefClass param" and "CS_OUT RefClass* param" when it is generating only "RefClass^% param" for both!

[2015-06-10 18:27] jamesford42 commented on #438
Unforunately, I am not familiar C++/CLI so can offer no guidance there.

[2015-06-11 05:11] Mage15 opened #464 "Error with NamespacesDerived.cs in NamespacesDerived.CSharp"
This is my first time trying to use CppSharp. I using VS 2013 on Windows 8 and have followed the "Compiling on Windows/Visual Studio" build steps for building the 32 bit version. However now when I build CppSharp from the VS Developers Command Prompt  I am getting 3 errors. I opened the solution in VS 2013 and chose not to upgrade to .NET 4.5, so I am still targeting 4.0.

------------------------

[2015-06-11 05:18] ddobrev commented on #464
I work on something related at present, I'll fix it soon. If you want, you can help. You need to change the line:

                        WriteLine("{0} {1};", @interface != null ? @interface.Name : className, Helpers.DummyIdentifier);

in CSharpTextTemplate.GenerateDisposeMethods. This line needs to type a fully qualified name instead of the short name used now. You can use QualifiedIdentifierIf

[2015-06-11 13:51] tritao commented on #438
@genuinelucifer I didn't understand your question about CLI. What is the problem?

[2015-06-13 06:33] genuinelucifer commented on #438
@tritao I went through the code to see where the first line of assignment is generated for one function and is not generated for other function. It was quite visible in CSharpTextTemplate.cs and hence the fix was easy.
However, in CLISourcesTemplate.cs, "param.Visit()" is called which makes all the difference... I tried to see the value of different values for both the functions and found that all

[2015-06-13 13:31] ddobrev commented on #464
I've sent a pull at https://github.com/mono/CppSharp/pull/474, when it's merged, this will be fixed.

[2015-06-13 16:31] Mage15 commented on #464
I hadn't had the opportunity to get to this until this morning. I just pulled the code down and this appears to not have made it into origin as of yet. So I went ahead and made your suggested change:
<pre>
WriteLine("{0} {1};", @interface != null ? @interface.Name : className, Helpers.DummyIdentifier);
</pre>

to
<pre>
WriteLine("{0} {1};", @interface != null ? @interface.Name : QualifiedIdentifie

[2015-06-15 07:22] genuinelucifer commented on #434
I tried to recreate this issue with:
https://gist.github.com/genuinelucifer/e2d636b1b021fc303f0b
.
What i guess is that there should be no generation of any internal member for a constructor marked with CS_IGNORE. That is entire:
[code]
should not be generated.
.
Also, i see that the constructor definition is generated. But, I guess that should not be generated too. That is:
[code]
should not be g

[2015-06-15 12:11] genuinelucifer commented on #438
@tritao Sorry for commenting without trying enough on my own. I finally figured out the silly mistake I was doing. I am opening a pull request.

[2015-06-15 21:01] #464 closed

[2015-06-16 03:48] genuinelucifer commented on #342
Fixed by #451 . Please CLose this issue. @tritao @ddobrev

[2015-06-16 22:15] #342 closed

[2015-06-16 22:23] ddobrev opened #489 "QPaintDevice::initPainter appears twice in the list of methods of QPaintDevice"
To reproduce, run Qt# and try compiling the resulting QtGui.cs. You'll see that initPainter is generated twice. I have confirmed this way the class comes out of the parser. Unfortunately, it does not happen when parsing just "qpaintdevice.h", the entire QtGui has to be parsed.

Tip: Disable the pass for Qt docs for faster generation.

[2015-06-16 23:20] ddobrev opened #490 "QVector not properly qualified in internal fields in QtGui"
To reproduce, run Qt# and try compiling the resulting QtGui.cs. You'll see that, for example, the internal field "m_values" of QInputMethodQueryEvent does not have its QVector type fully qualified. Similar to https://github.com/mono/CppSharp/issues/489, parsing just "qevent.h" works properly unlike the whole QtGui.
The problem is that QVector itself - that is, the templated declaration of QVector<

[2015-06-18 07:47] genuinelucifer commented on #453
I guess this one is solved because i used:
[code]
which generated:
[code]

[2015-06-18 07:51] genuinelucifer commented on #438
Issue is fixed by #487 Please close the issue.

[2015-06-18 09:17] genuinelucifer commented on #365
I reproduced the issue and fixed it by generating a 'FileName + "Class" ' for all the free functions instead of the 'FileName' used earlier. I made the changes only for CLI generator.
But, I guess it would be better to be uniform across CSharp and CLI generators regarding naming conventions. So, please give review my work and if it is acceptable i will add the changes to CSharp generator as well.

[2015-06-18 10:41] genuinelucifer commented on #383
@ddobrev
I was trying to recreate this issue..
I tried:
[code]
But, it compiled without any errors so my guess is that the operator of base was supported for derived class.
Am I doing something wrong?

[2015-06-18 11:14] #438 closed

[2015-06-18 11:25] ddobrev commented on #383
@genuinelucifer the reason you cannot reproduce it is that we do not (yet) automatically wrap structs as such. You need to explicitly mark "BaseClassWithOperator" in the generator settings by using SetClassAsValueType.

[2015-06-19 05:44] genuinelucifer commented on #437
Fixed by #491 . @jamesford42 @tritao Please close the issue.

[2015-06-19 06:38] genuinelucifer commented on #383
@ddobrev I marked both the classes with CS_VALUE_TYPE and yet there is no problem!
Well, isn't that meant to do same task as SetClassAsValueType? Or did I do something wrong?

[2015-06-19 06:48] genuinelucifer commented on #334
@ddobrev
Did you mean to ignore the 1st param for Operators and for the rest params do as for other functions?
Something like:
[code]

[2015-06-19 06:55] ddobrev commented on #334
@genuinelucifer yes, this is exactly what I mean. However, please do not check for the first parameter this way but rather by checking Parameter.Kind for OperatorParameter. In fact, you should be able to remove the check for an operator and simply exclude any operator parameters from the loop:

        public override bool VisitFunctionDecl(Function function)
        {
            ChangeToInterfac

[2015-06-19 07:03] ddobrev commented on #383
Please check the generated code you get. If BaseClassWithOperator and DerivedClassForOperator are classes in C# - that is, generated with the "class" keyword - then you didn't get it right. I don't know how CS_VALUE_TYPE is supposed to work, I have not been involved in that part. What I meant was calling ASTContext.SetClassAsValueType in ILibrary.Preprocess - you get the ASTContext as a parameter:

[2015-06-19 07:49] genuinelucifer commented on #334
@ddobrev wouldn't it exclude all the parameters (not just the first) for any operator?

[2015-06-19 07:51] genuinelucifer commented on #96
@ddobrev  @tritao I would like to work on this issue. I have reproduced it successfully. Please provide some guidance in this regard.

[2015-06-19 07:56] ddobrev commented on #334
OperatorParameter is used only for the special first parameter C# requires to be of the containing type.

[2015-06-19 08:11] ddobrev commented on #96
@genuinelucifer this one could be little more difficult. Do you mind finishing https://github.com/mono/CppSharp/issues/334, https://github.com/mono/CppSharp/issues/383 and https://github.com/mono/CppSharp/issues/402 first?

[2015-06-19 08:31] genuinelucifer commented on #96
@ddobrev Perfectly fine. I will try to finish those first and then come to it. :+1:

[2015-06-19 08:34] genuinelucifer commented on #334
@ddobrev So, this is the final solution what you gave! Should i open a pull request only with this? or is there something more to it?

[2015-06-19 08:36] genuinelucifer commented on #365
@ddobrev also please see if FIleName + "Class" solution is acceptable only as a change in C++/CLI generator! SInce, the C# generator works fine without any changes so is it fine to leave it be?

[2015-06-19 08:54] genuinelucifer commented on #383
using CS_VALUE_TYPE generated them as
"public unsafe partial struct BaseClassWithOperator" and
"public unsafe partial struct DerivedClassForOperator"
And there were no build errors.

[2015-06-19 09:25] genuinelucifer commented on #402
@tritao I didn't quite understand it. Please explain this a bit...

[2015-06-19 12:46] ddobrev commented on #334
@genuinelucifer there's just a test to add to verify my solution actually works, I wrote it in the blind, you know.

[2015-06-19 12:51] ddobrev commented on #402
@genuinelucifer imagine that in the Base of the example you have a virtual function defines as follows:

int Base::virtualFunction()
{
    return 1;
}

Then in the Derived from the example you override this function:

int Base::virtualFunction()
{
    return 2;
}

At present, when you call b.virtualFunction() - as in the definition of the issue - you'll get 1. However, this is wrong - you should g

[2015-06-19 12:56] ddobrev commented on #383
Sorry, my mistake. You indeed get correct results. I forgot to mention that this issue is not about compilable code. The code does compile but it does not give the same freedom as the original C++. The idea is that since in C++ DerivedClassForOperator inherits from BaseClassWithOperator, you should be able to pass a DerivedClassForOperator object to the operator from BaseClassWithOperator:

    De

[2015-06-19 14:31] #437 closed

[2015-06-19 15:09] ddobrev commented on #402
@genuinelucifer You need to use the same code we use for calls in abstract implementations:

https://github.com/mono/CppSharp/blob/master/src/Generator/Generators/CSharp/CSharpTextTemplate.cs#L2202

[2015-06-20 02:50] genuinelucifer commented on #383
One of the first solutions that comes at first glance to me (noticing that C# structs can't be subclassed) is that of simply copying all the members and functions from base struct which aren't already present in the derived struct (to allow override). Although this may lead to incompilable code generation in certain cases of conflict.
You mentioned in the issue that we can use implicit cast to Bas

[2015-06-20 06:27] genuinelucifer opened #493 "Incompilable code when inheriting classes with private or protected modifier"
"error C2243: 'type cast' : conversion from 'DerivedClass *' to 'BaseClass *' exists, but is inaccessible" is generated in C# code if a class is inherited except publicly.
Isn't it supported already??
To recreate just inherit from another class using 'protected' or 'private' modifier.

[2015-06-20 08:29] genuinelucifer commented on #402
@ddobrev Thanks. Will try to implement it.

[2015-06-20 08:31] genuinelucifer commented on #334
@ddobrev This might seem silly but what does this function actually do? I mean how do i define an interface in C++ and what is @interface for a parameter??

[2015-06-20 11:00] ddobrev commented on #493
We have indeed not bothered to support this yet. What do you need it for?

[2015-06-20 11:14] ddobrev commented on #334
I assume you're asking this question just to be clear, not that you need it for the fix itself.
C++ does not have interfaces. It has multiple inheritance. C# doesn't so we have to emulate secondary base classes with C# interfaces.

[2015-06-20 12:21] tritao commented on #493
We should still fix it though if it generates broken code.

[2015-06-20 12:24] ddobrev commented on #493
I agree but it's neither as important as @genuinelucifer 's other tasks nor as the task he requested to work on (https://github.com/mono/CppSharp/issues/96).

[2015-06-20 13:09] genuinelucifer commented on #493
Well, I was just trying to write a test case and by mistake forgot to put
the 'public' keyword and the inheritance defaulted to private.
Then I saw the broken.code generated so I thought to open.the issue.
Obviously it is not important at this point of time. But, I opened it so
that it may be fixed sometime in near future.

[2015-06-20 13:15] ddobrev commented on #493
Of course, you did right by sending this report. Thank you. We'll definitely fix it at some point.

[2015-06-20 13:17] genuinelucifer commented on #334
Well, partly because of both reasons. I could not find why we have to use
ParamTypeToInterfacePass at all!
Because I thought C++ doesn't have interfaces so how are interfaces coming
into picture!
On 20-Jun-2015 4:44 PM, "Dimitar Dobrev" <notifications@github.com> wrote:

[2015-06-20 16:59] sushihangover opened #494 "OS-X Build failure : error CS0118: `CppSharp.Parser.ParserOptions.ASTContext' is a `property' but a `type' was expected"
OS-X 10.10.3
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Mono JIT compiler version 4.0.2 ((detached/198235d Tue Jun  9 14:24:40 EDT 2015)
LLVM Git mirror revision 0e8abfa6ed986c892ec723236e32e78fd9c47b88.
Clang Git mirror revision 3457cd5516ac741fa106623d9578f5ac88593f4d.
CppSharp : HEAD version (commit 2467f06240854fb2213ce8516c1ec57703083afd)

cd build
./premake5-osx gmake

[2015-06-20 17:34] ddobrev commented on #494
@sushihangover I know about this, it's a regression because of a new feature I had to add. It is fortunately easy to work around. Just go to the file with the error and either fully qualify or add usings for the missing types.

[2015-06-20 22:26] sushihangover commented on #494
@ddobrev Thanks for the quick reply.

After generating a solution/projects and actually looking at the code, I'm assuming this is a bootstrap issue as:
[code]
are generated by CppSharp and you are not checking those files in on each iteration.

I fixed that issue in the gen code for i386 and x64 on OS-X, then a few more issues for x64, and, and.... ;-)

There too many other issues with incorrect d

[2015-06-20 22:52] ddobrev commented on #494
I am not sure I understand. I assume you've fixed the generated code as I suggested and then you got those other errors. I am afraid I cannot offer help about them. CppSharp used to have a build server for both Windows and OS X but it broke because of some configuration problem about eight months ago. I've been asking @tritao to fix it to no avail so far. There's some chance those errors are a res

[2015-06-20 22:56] ddobrev commented on #494
I understand your frustration an I would in fact encourage you to look for other solutions if your work is imminent. I am afraid my own QtSharp - a CppSharp-based generator for Qt bindings - still has a way to go before becoming useful. Please let me know if you have success with SWIG. I looked it myself before starting Qt# but it seemed too time consuming to create proper wrappers.

[2015-06-21 00:22] tritao commented on #494
One simple workaround is to just reset to an earlier Git revision for now until I can fix it.

[2015-06-21 08:15] genuinelucifer commented on #334
@ddobrev  Thanks..
Well, I had to change a few bits here and there and it is working okay.
Except that "ParameterKind.OperatorParameter" is set only for first param of normal operators. For constructors such as:
[code]
following is generated:
[code]
and the function is marked with IsOperator but the first parameter is NOT marked with ParameterKind.OperatorParameter...
Should I mark the first param

[2015-06-21 08:45] genuinelucifer commented on #334
@ddobrev  Please see #495.

[2015-06-21 19:36] ddobrev commented on #383
The casting would be implemented by creating a C# implicit operator taking a Derived and returning a Base which would be done by copying the relevant internal fields. However, your idea looks good as well so I am not sure which solution would be better. So please implement https://github.com/mono/CppSharp/issues/402 first, it's way more important anyway, and we'll see about this one later.

[2015-06-22 00:12] sushihangover commented on #494
@tritao thanks for the reply. I did try multiple prior versions, I even scripted a quick script to loop a checkout on HEAD~1, re-gen/make and it had different build failure points on everyone that was tried, I Ctrl-C after 5 of 6 tries.

@ddobrev  I have a real hate relation with no love at all with SWIG as it takes forever to create decent interface files for it to digest and just feeding it head

[2015-06-22 02:14] genuinelucifer commented on #383
Ohk. I thought explicit conversion would require similar structures in base
and derived. Well, yes we can discuss this later on. I will start working
on the other issues today. :)

[2015-06-22 09:32] genuinelucifer commented on #402
Please see #496. I have tried but the test is failing at one instance. It feels a bit weird to me.

[2015-06-22 10:22] ddobrev commented on #365
I am afraid @tritao has the final say here as well. I am not really familiar with the C++/CLI end. What I do know, I've already mentioned.

[2015-06-22 16:55] #494 closed

[2015-06-22 20:50] mwieliczki opened #497 "Build Errors with CppSharp"
I followed both the instructions for Windows using VS 2013:
https://github.com/mono/CppSharp/blob/master/docs/GettingStarted.md
https://github.com/tritao/CppSharp/blob/master/docs/GettingStarted.md

and neither helped CppSharp build.  I was able to build everything else.  It looks like it is having trouble finding references to itself.  I even tried the versions of the repositories mentioned.  The

[2015-06-22 20:54] mwieliczki commented on #497
I wish I could have attached the error messages, but .txt and .md would not attach.  They told me to use jpg or png instead.

[2015-06-22 21:04] tritao commented on #497
Can you try with CppSharp master revision?

[2015-06-22 21:11] tritao commented on #365
We try to keep the behavior uniform between the C# and C++/CLI backends so it would be better to fix this so it works the same between backends.

Just going from the description I cannot easily see what the problem is though. What is the actual problem here @ddobrev?

[2015-06-22 21:18] ddobrev commented on #365
@tritao I don't remember, I would need to see some generated code. I hit that by accident when writing a test for something completely unrelated and filed this so that it's not forgotten. What I meant was that the "Class" appendage is not appropriate because the functions in question are classless.

[2015-06-23 00:08] mwieliczki commented on #497
I did.  I will send you the errors when I get into work tomorrow

[2015-06-23 02:11] genuinelucifer commented on #365
@tritao The problem is that for free functions (not contained in any class)
in the header a new class is created with same name as the file and since
there is a top level namespace created with the same name as the file so
these both names result in conflict.
Ex:
If ClassA and ClassB are in Basic.h and a free function "Func" is also
there then we generate a namespace Basic which contains the two c

[2015-06-23 13:15] mwieliczki commented on #497
I updated to latest: 6d60f6a2acecfc7b60e6bc89b0ef05c985bcb473 that you checked in yesterday.  I did a rebuild all and still have 182 errors.  The errors still start with CppSharp.Parser not being found.  But it looks like that code is built with the CppSharp source.  I emailed you Errors.txt if that helps.

Am I missing a dependency?  I installed VS 2013, Python 2.7.10, and Cmake 3.3.

[2015-06-24 09:50] tritao commented on #334
https://github.com/mono/CppSharp/pull/495

[2015-06-24 09:50] #334 closed

[2015-06-24 16:47] tritao commented on #497
I have no idea what this issue, master build works fine on VS2013 for me and other contributors, along with the build bot.

[2015-06-24 17:01] ddobrev opened #498 "Generate delegates in a separate file and reuse them instead of generating them each time"
At the moment when we need a delegate - v-tables, abstract impls, etc, we generate it in the same file. This leads to repetition, bloated API-s and binaries, etc. So we need to generate such delegates in a location independent of the bound API, and reuse them if possible. That is, maintain a dictionary of those delegates, and whenever we need one for a function, check by its signature - if a match

[2015-06-25 17:05] mwieliczki commented on #497
I just tried building it from C:\ instead of D:\ and it appears to have built!?  There must be some hard-coded C:\ path stuff somewhere.

[2015-06-25 17:25] mwieliczki commented on #497
Although I tried regenerating the VS projects in D:\ and made sure that I didn't upgrade them and it built...  Maybe it only works on Thursday?

[2015-06-25 17:25] #497 closed

[2015-06-25 21:50] ddobrev opened #500 "Wrap C++ structs as C# structs where appropriate"
Structs and classes are essentially the same in C++. However, the way they are used is almost identical as they way they are in C#. So it would be a good idea if a C++ struct is mapped to a C# struct. That is not always possible - for example, the struct must not be inherited from because that's forbidden in C#. So the algorithm should:
1. Only consider C++ structs, that is, types declared with th

[2015-06-26 06:31] genuinelucifer commented on #500
@ddobrev Please review #501

[2015-06-26 06:36] genuinelucifer commented on #498
It might be silly. But, I tried a lot to see how to generate a new file using the already present classes and methods but could not do so.
Please help @ddobrev @tritao

[2015-06-26 06:38] genuinelucifer commented on #498
@ddobrev I am not certain but I read somewhere online that generic delegates were introduced in .NET 3.5 so i guess .NET 4.0 would be able to Marshal them. Isn't it the case?

[2015-06-26 12:18] ddobrev commented on #498
I am afraid that regardless of the time of their introduction, they cannot be marshalled. I myself have wondered how they could add this feature in half but they did.
If you have trouble with a new file, we can start without one. You could, for example, collect all delegates you're going to need and print them at the end of the last code file.

[2015-06-26 13:24] genuinelucifer commented on #498
@ddobrev Thanks. Then I will try to generate all the delegates at one place
first...

[2015-06-30 12:04] tritao opened #507 "Name conflict with generated property with same name as enclosing class"
This can happen under the following conditions:
- C++ class: `SBError`, renamed to `Error` in C#
- C++ member with signature `GetError () const;``
- Property generation pass enabled

Generated code:

[code]

Error:

`/Users/joao/Dev/LLDBSharp/LLDBSharp/SBError.cs(21,21): Error CS0542: `LLDB.Error.Error': member names cannot be the same as their enclosing type (CS0542) (LLDBSharp)`

[2015-06-30 16:02] ddobrev opened #508 "Marshal (non-const) char* as StringBuilder"
There may be some gotchas such as ANSI/Unicode so some reading is needed but this can and should be done.

[2015-06-30 16:05] ddobrev opened #509 "Marshal parameters of type pointers to primitives (int*) as ref params (ref int)"
Should be pretty straightforward: get the addresses of ref params using unsafe code and pass that to the native code. The only corner case is default argument values because C# ref types cannot have them.

[2015-07-02 13:34] tritao opened #511 "Bind delegates with higher-level managed types"
Imagine a callback in native code:
```void Callback(Class& c);```

When bound in managed it ends up as:
```delegate void Callback(IntPtr c);```

And we need to do later:
```var c = Class.__CreateInstance(c)```

Not pretty.
I think we could improve this on the generator to generate a lower-level (same as what we already generate) and higher-level proxy delegate:
```delegate void Callback(Class c);`

[2015-07-03 15:28] ddobrev commented on #489
Fixed by 5395761809896f0d4db7cdf7f9656bfcc4d76f9b.

[2015-07-03 15:29] ddobrev commented on #489
Fixed by 5395761809896f0d4db7cdf7f9656bfcc4d76f9b.

[2015-07-03 15:29] #489 closed

[2015-07-04 13:46] ddobrev commented on #490
This bug is only exposed when ignored fields are generated. Since the generation of ignored fields is going to be removed, I created a branch called "incorrect_trunit_test" with a test exposing the issue. Whenever ready to work on it, one should check that branch out and run NamespaceDerived.Gen.

The problem is that forward declarations of templates:

template <typename T> class TemplateClass;

i

[2015-07-06 10:54] genuinelucifer commented on #511
@tritao How to generate 'delegate' from the function 'Callback'.. I tried to recreate it but the function ended up as another function in managed code.

[2015-07-06 10:55] genuinelucifer commented on #507
@tritao @ddobrev  What would be the acceptable solution? I thought adding '_' would suffice. Any other views?

[2015-07-07 18:47] ddobrev opened #514 "Passing null to a function pointer causes a crash"
We don't check what we pass to Marshal.GetFunctionPointerForDelegate. To reproduce, set CSharpTemp.Foo.AttributedFunctionPtr to null.

[2015-07-08 08:25] genuinelucifer commented on #509
@ddobrev Please review #512 Is it acceptable? I merely changed the parameter usage to InOut for the pointers to primitives without a default value!

[2015-07-12 19:13] genuinelucifer commented on #500
@ddobrev Please review #518

[2015-07-14 22:18] ddobrev commented on #490
Fixed by f754263ab50d84f03eda81ee82272eebcfb29896.

[2015-07-14 22:20] ddobrev commented on #490
Fixed by f754263ab50d84f03eda81ee82272eebcfb29896.

[2015-07-14 22:20] #490 closed

[2015-07-18 15:01] genuinelucifer commented on #508
@ddobrev char* is NOT always meant to work as placeholder for a string. So how can it be differentiated if it is meant to be pointer (hence better a 'ref char') or a string (so 'StringBuilder').
In my opinion, it would however be better to marshal std::string as StringBuilder...

[2015-07-18 15:02] genuinelucifer commented on #514
@ddobrev  Please clarify a bit more. It is a typedef. SO how to set it to null?

[2015-07-18 19:48] ddobrev commented on #514
@genuinelucifer it's not a typedef - that's how one defines a field with a function pointer type in C++. So that field is wrapped as a property in C# - that's what I meant by setting it to null.

[2015-07-18 19:58] ddobrev commented on #508
It's impossible to determine. So we have to use the solution which works in both cases and that is StringBuilder because in the case of a pointer to a char it would simply be a StringBuilder with a single character.
std::string represented with a StringBuilder might or might not be a good idea but in any case it's unrelated to the current issue. Also it's quite difficult because std::string is a t

[2015-07-19 14:27] genuinelucifer opened #521 "Error in CppSharp.h when trying to wrap UTF16 Test with C++/CLI"
I saw the TODO in UTF16 Test and added CLI generation for the test. I figured out many of the errors but finally i get:
[code]
at the return statement in CppSharp.h in this function:
[code]
@ddobrev @tritao Any insight why this error would be there only after generating and compiling a certain code?!

[2015-07-19 23:02] tritao commented on #521
Can you paste the region of code in the generated source that triggers this compile error?

[2015-07-20 09:14] genuinelucifer commented on #500
@ddobrev
There is a corner case for this which can't be checked directly. As in NamespaceDerived and NamespaceBase Test in which both are compiled separately but the Derived one inherits from the Base.
We have practically no way of knowing that a future type (rather compiled separately) will inherit this or not. So, if we marshal NamespaceBase to struct then build will fail for NamespaceDerived.
I

[2015-07-20 09:41] genuinelucifer commented on #521
I can't actually find that. Visual Studio is NOT showing any error in any part of the generated code.
When i build the solution, it simple shows this error only in CppSharp.h!

[2015-07-20 22:03] tritao commented on #365
https://github.com/mono/CppSharp/commit/cf472f526c87e9807a9f9868e7cbc07376efcbb6 should have fixed this.

[2015-07-20 22:03] #365 closed

[2015-07-22 16:17] xistoso commented on #514
@genuinelucifer
in CSharpTemp.Tests.cs use this test and you can see it explode
[code]

[2015-07-22 16:38] genuinelucifer commented on #514
@ddobrev @xistoso Thanks.

[2015-07-23 16:27] #514 closed

[2015-07-26 12:42] Kiddinglife opened #524 "Got error "not find lbxml2" when building llvm"

[2015-07-26 12:44] Kiddinglife commented on #524
I used build command shown on the "get started " html
cd <CppSharp>\deps\llvm\build
cmake -G "Visual Studio 12" -DCLANG_BUILD_EXAMPLES=false -DCLANG_INCLUDE_DOCS=false -DCLANG_INCLUDE_TESTS=false -DCLANG_INCLUDE_DOCS=false -DCLANG_BUILD_EXAMPLES=false -DLLVM_TARGETS_TO_BUILD="X86" -DLLVM_INCLUDE_EXAMPLES=false -DLLVM_INCLUDE_DOCS=false -DLLVM_INCLUDE_TESTS=false

[2015-07-26 21:18] ddobrev commented on #524
Are you sure it's not just a warning? Anyway, if you repeatedly have trouble, you can find LLVM x86 binaries at https://dl.dropboxusercontent.com/u/194502/CppSharp/llvm.7z .

[2015-07-27 05:14] Kiddinglife commented on #524
this link "https://dl.dropboxusercontent.com/u/194502/CppSharp/llvm.7z " is inaccessiable in China with the warning message showing up in front of my eyes that the server reject the connection of the link.

Man, do you have some other links where downloading can be finished successfully?

[2015-07-27 05:16] Kiddinglife commented on #524
i am eager to applying cppsharp in my own game server project....So, help me, hero coder !

[2015-07-27 13:33] ddobrev commented on #524
I have no idea where to upload it so that you are guaranteed to have access. Have you tried with https://www.torproject.org/index.html.en ?

[2015-07-29 00:29] ddobrev opened #527 "The C++/CLI end cannot handle types without public constructors"
To reproduce, add a class without public ctors (for example, protected ones) to Basic.h or CLITemp.h.

[2015-07-31 15:14] Kiddinglife opened #528 "can someone provide the compiled DLLs to me?"

[2015-07-31 15:15] tritao commented on #528
For what platform do you need them?

[2015-08-01 14:40] Kiddinglife commented on #528
i have found the complied DLLS from the link of https://github.com/ddobrev/QtSharp/tree/master/References
thanks !

[2015-08-01 14:46] Kiddinglife opened #529 "Anyone knows where are APIs documents?"
i found there are many exposed methods in driver.Options object like options.Libraries.Add() but the meaning of each of them is not well-self-explained. I an now trying to find if there is a API document that introduce the role of every method or variable?

[2015-08-01 14:48] Kiddinglife commented on #529
oh, a thing i forgot to say is that whether cppsharp supports static native lib like xxx.so in linux or xxx.lib in win?

[2015-08-01 16:21] ddobrev commented on #529
.libs are supported in the sense that they can be read to obtain symbols but they are not executable. .so are supported normally.

You can find some documentation in https://github.com/mono/CppSharp/tree/master/docs. Other than that, you can copy code from Qt# and adjust for your case.

[2015-08-01 16:22] ddobrev commented on #528
Please bear in mind those are for Windows only.

[2015-08-01 18:59] genuinelucifer commented on #521
@tritao @ddobrev Suggestions please?! I am stuck and could not find anything to remove this error. I tried changing that template call with different types but to no avail. VS is just showing error on that line and is not giving any details as to from where the function was called.

[2015-08-01 19:16] genuinelucifer commented on #527
@ddobrev I added following to CLITemp.h and also to Basic.h
[code]
But, there were no build errors. Is the code i used not sufficient or is the error meant to be something else?

[2015-08-01 21:37] ddobrev commented on #521
@genuinelucifer @tritao will have to help you with this one, I have little idea about C++/CLI. In the mean time, if you have nothing to work on, could you please try https://github.com/mono/CppSharp/issues/508 ? I think it should be easy, I think char* can be always safely marshalled as StringBuilder with ANSI and wchar_t* as StringBuilder with Unicode.

[2015-08-02 04:48] Kiddinglife opened #531 "does a generated c-sharp-dll works in embedded mono?"
where my question comes from:
I saw a line of sample code like this:
[DllImport("Basic.Native.dll",
CallingConvention = global::System.Runtime.InteropServices.CallingConvention.Cdecl,
EntryPoint="?GetANSI@Foo@@QEAAPEBDXZ")]

My Question:
Say I have a DLL named MonoEmbedCsharp.dll that is built based on a CppSharp-Generated c-sharp file named MonoEmbedCsharp.cs that wraps everything in a c++ file n

[2015-08-02 15:39] genuinelucifer commented on #521
@ddobrev I started the work on marshalling C++ strings to StringBuilder. Please review #532

[2015-08-02 16:48] tritao commented on #531
Yes, that's supported. See the `GenerateInternalImports` option at https://github.com/mono/CppSharp/blob/a1d7e685bca96634724367faaa472e3fe6f0e64a/src/Generator/Options.cs#L96.

[2015-08-02 16:48] #531 closed

[2015-08-04 11:32] #529 closed

[2015-08-04 11:32] #528 closed

[2015-08-04 11:32] #524 closed

[2015-08-04 11:33] tritao commented on #509
Fixed by https://github.com/mono/CppSharp/commit/dd941d9191dc8d8e97db07828f2804cba72b7237.

[2015-08-04 11:33] #509 closed

[2015-08-04 14:51] genuinelucifer opened #533 "C++/CLI still can't handle namespace conflicts when file has free functions"
To recreate add following to CLITemp.h
[code]
and ofcourse an empty definition for the function in CLITemp.cpp

[2015-08-04 15:14] genuinelucifer commented on #533
@tritao Please look into this. I would again say wouldn't it be more convenient to add some suffix to the filename easier for handling free functions and avoid any name conflicts. (Just an opinion)

[2015-08-04 17:51] tritao commented on #380
@genuicelucifer Would you be interested in trying to tackle this one?

[2015-08-04 18:41] genuinelucifer commented on #380
@tritao Will try. As per the look of it, most of the work is already done. Or am i missing something?!

[2015-08-04 18:49] tritao commented on #380
Possibly, I haven't touched this in a bit so I'm not exactly sure what we need besides my previous comments on this thread.

[2015-08-06 00:10] ddobrev opened #535 "Incorrectly resolved base template specialisations"
If a class derives from a template specialisation, our AST reports its base as a the template class and not as the specialisation. The following example in particular causes a crash:

    template <int N, int... I>
    struct build_index_impl : build_index_impl<N - 1, N - 1, I...> {};

[2015-08-06 23:32] ddobrev commented on #535
Clang seems not to report a declaration for "build_index_impl<N - 1, N - 1, I...>" - just a type. Since we mirror Clang, we should have no (null) declaration too for BaseClassSpecifier.Class.

[2015-08-11 16:04] ddobrev opened #537 "Wrap empty enums with a single member as constants"
For example:

enum { Type = 3 };

now becomes:

enum Type { Type = 3};

Instead we'd better have:

public const int Type = 3;

[2015-08-11 16:07] tritao commented on #537
:+1:

[2015-08-13 08:16] ddobrev opened #538 "Implement IDisposable in the C++/CLI front end"
Unlike the C# front end, the C++/CLI one does not provide a Dispose method. This is a serious problem because we heavily leak memory and we cannot call Dispose in the AST converter because the code wouldn't compile on platforms (Windows) which use C++/CLI (). So we need a flag marking whether the instance was allocated by the user (as in the C# end) and a Dispose deleting the native pointer if the

[2015-08-13 08:17] ddobrev commented on #538
@genuinelucifer could you please take this one after the one for the delegates in case there is time?

[2015-08-13 14:44] genuinelucifer commented on #538
@ddobrev I wish to work on CppSharp after GSoC too. So, i guess there will be enough time.. :)

[2015-08-13 14:44] genuinelucifer commented on #538
@ddobrev I wish to work on CppSharp after GSoC too. So, i guess there will be enough time.. :)

[2015-08-13 15:11] genuinelucifer commented on #380
@tritao While trying to generate it I found that no property was generated for ```foos``` if it is kept private. Property is only generated if it is a public member. Is there a specific reason not to generate private properties?

[2015-08-13 15:20] tritao commented on #380
I think the reason we do not generate those is to keep the API as close as possible to C#. If we generated the property as private then the user would not be able to call it anyway. And if we generated private C++ properties as public in C# then we're changing the API of the original code. Though... I think we do support something like this for protected methods because of the multiple inheritance

[2015-08-13 15:21] genuinelucifer commented on #380
Oh I see. :+1:

[2015-08-13 15:23] tritao commented on #538
C++/CLI has both destructors and finalizers. It might be work reading https://msdn.microsoft.com/en-us/library/ke3a209d.aspx#BKMK_Destructors_and_finalizers.

[2015-08-13 15:39] ddobrev commented on #538
Thank you, Abnihav. :) I appreciate it, you've been of great help and I could only rejoice if you decide to continue working with us.
@tritao I think we should start simple - just implement what we have for the C# end by default. That is, calling the native destructor which in C++/CLI is done as in C++, though the "delete" keyword. About finalisers, we're going to need that too but at a later stag

[2015-08-13 15:44] genuinelucifer commented on #538
@ddobrev @tritao  It has really been a great learning experience working with you guys! And really I can say that the past 3.5 months has been the one of the awesomest experiences of my life! ^_^

[2015-08-13 16:17] genuinelucifer commented on #380
@tritao I have fixed the getter. But, i am unable to think of a way to convert the Foo or Foo.Internal* object to byte* to store back in the setter.

[2015-08-13 16:19] ddobrev commented on #380
@genuinelucifer since a pointer to anything is just a pointer, wouldn't a simple cast from Foo.Internal* to byte* work?

[2015-08-13 16:22] genuinelucifer commented on #380
@ddobrev Done. Thanks :)

[2015-08-15 00:01] #538 closed

[2015-08-19 12:26] tritao commented on #396
We have a Travis and AppVeyor build bots now.

[2015-08-19 12:26] #396 closed

[2015-08-19 12:28] #388 closed

[2015-08-19 12:28] tritao commented on #457
Can you guys still repro this?

[2015-08-19 12:28] #458 closed

[2015-08-19 12:29] #143 closed

[2015-08-19 12:30] #380 closed

[2015-08-19 14:15] ddobrev opened #542 "Regression: uncompilable code for variables (static fields) with a type a fixed array"
I get this in Qt# after pulling the code for fixed arrays for complex types:

        public static QArrayData[] Shared_null
        {
            get
            {
                var __ptr = (fixed byte*)CppSharp.SymbolResolver.ResolveSymbol("Qt5Core", "_ZN10QArrayData11shared_nullE");
                QArrayData[] __value = null;
                if (*__ptr != null)
                {

[2015-08-19 16:10] ddobrev opened #543 "The parser incorrectly collects macros in a certain Qt header"
Our parser reports the access declaration ("protected:") of QAbstractSlider::wheelEvent as having many macros while in fact it has none. This leads to compilation errors later on because wheelEvent is wrapped as a C# event while it's not.
To reproduce, run Qt#. Since it's enough to parse QtWidgets, its 2 dependencies of QtCore and QtGui can be excluded in Program.cs - for faster work. I reproduce

[2015-08-19 16:14] tritao commented on #537
When doing this, we'll also need to cover with tests the case that the enum is in the global namespace, inside a namespace, as well as inside another type (class).

[2015-08-19 19:35] genuinelucifer commented on #542
@ddobrev i have fixed the compiling issue. [Will submit the PR in a while]
But, i see that only getter is generated and NOT a setter. Is it intended?

[2015-08-19 20:52] ddobrev commented on #542
An excellent question. I think it should have but it's a separate issue. @tritao variables should be writeable, correct?

[2015-08-19 20:59] ddobrev opened #545 "Variables (static fields) are generated without a setter"
While it might not be possible, we should at least investigate the problem.

[2015-08-19 21:00] ddobrev commented on #542
@genuinelucifer I've merged your pull and filed https://github.com/mono/CppSharp/issues/545 for the missing setter.

[2015-08-19 21:00] #542 closed

[2015-08-23 12:09] yuntan commented on #457
I cleaned build dir by `rm -rf build/gmake`, rebuild LLVM of specified revision and rebuild cppsharp but another error happens while building `VTables.CSharp`.

[code]

build output: http://pastebin.com/hVhej6X5

[code]

git revision: 460e1b8f329ed71be20007631993d05a326378d9

[2015-08-24 12:27] ddobrev commented on #543
The test case can be significantly decreased by replacing:

    driver.Options.Headers.Add(qtModule);

with:

    driver.Options.Headers.Add("complexwidgets.h");
    driver.Options.Headers.Add("qabstractslider.h");

Important notes:
1. "complexwidgets.h" must be added before "qabstractslider.h", otherwise the bug does not occur;
2. If adding the major "QtWidgets" header is replaced by adding all o

[2015-08-24 20:56] ddobrev commented on #543
The test case can be decreased once more by deleting everything between #ifndef QT_NO_ACCESSIBILITY ... #endif but that's the largest possible reduction since removing any other line (excluding the comment on top, of course) hides the bug.

[2015-09-02 17:18] tritao opened #549 "Class internals do not take into account multiple inheritance"
[code]

[2015-09-04 04:15] genuinelucifer commented on #500
@ddobrev Any comment?!

[2015-09-07 03:52] genuinelucifer commented on #416
@CPPAndCSharpStudent @tritao shouldn't this issue have been solved with the recent commits?

[2015-09-07 10:43] tritao commented on #416
I think so.

[2015-09-07 10:43] #416 closed

[2015-09-07 11:28] #402 closed

[2015-09-21 02:22] tritao opened #554 "Useless generated empty classes"
In some cases we generate useless classes without any internals.

[code]

[2015-09-21 02:25] tritao commented on #453
I'm still seeing problems related to this:

[code]

[2015-09-21 11:44] vonzepp opened #555 "Incorrect sizeof(std::string) in VS2015"
I have simple class:
[code]
Generated CSharp code is (x64 platform):
[code]
The problem is that   sizeof(std::string) == 40   for VC14 compiler. Not 32 bytes!!! So I've got AccessViolation exception in runtime due to memory corruption. Problem is definetely not with "Struct member alignment" setting of visual c++ compiler.

Should be:
[code]
There are similar problems with other STL types, like: s

[2015-09-21 12:22] vonzepp opened #556 "MS Visual Studio 2015 issues"
I have final release of VS2015 (14.0.23107.0).
I found 2 problems in cppSharp with VS2015:

1) I have Windows 7 x64 SP1. No addition SDK were installed (except SDK's, shipped with Visual Studio). cppSharp crashes in:
    MSVCToolchain.GetSystemIncludes
I specified function parameter vsVersion = VisualStudioVersion.VS2015 explicitly, due to code:
[code]
![untitled](https://cloud.githubusercontent.c

[2015-09-21 12:43] tritao commented on #555
Did you change your target triple to x86_64?

[2015-09-21 13:14] vonzepp commented on #555
Yes, I tried. No changes at all. (with and without "x86_64-pc-win32-msvc" - the same offsets)

[2015-09-21 13:48] tritao commented on #555
Enable `options.Verbose = true` and paste the headers paths here so we can make sure it's not some headers paths mismatch.

Also make sure it's not related to any missing defines that you set on VS that might be influencing the size of string (debug checks for instance).

[2015-09-21 15:36] vonzepp commented on #555
[code]
Ok, I've got your idea about things, related to size. I tried to play with  "Struct member alignment", with no result. Also I tried to compile Native c++ code with clang for Windows instead of VC++ (using "Platform Toolset" = LLVM-vs2014). sizeof(std::string) is also 40 for clang compiler.

[2015-09-21 16:19] ddobrev commented on #556
As it says in the comment, we cannot just enable VS 2015, Clang has to support it first. You could check if it already does and if so, removing this limitation would not be difficult.

[2015-09-21 16:35] vonzepp commented on #556
The first issue (with Include directories) is not related to clang. It's just about correct determining of Include directories of installed SDK's through registry keys, vcvars*.bat files etc.

The second issue with  'char32_t' and 'char16_t' seems to be a problem of flag or compiler switches configuration. I tried to use:
http://llvm.org/pre-releases/win-snapshots/LLVM-3.8.0-r247596-win64.exe
and

[2015-09-21 16:45] tritao commented on #556
The correct fix for the `char32_t` issue is to do something like:

[code]

We should remove all MS command line flags processing in the parser and move it to the managed MSVC toolchain code where it can make better decisions (as well as be more easily changed by the user).

About include directories, do you mind running and pasting the output of `MSVCToolchain.DumpSdks()`?

[2015-09-21 17:03] vonzepp commented on #556
I tried all suggestions from https://llvm.org/bugs/show_bug.cgi?id=23275  including "-fms-compatibility-version=19.00"
The only thing that works in not using flag "-fms-compatibility".

Output of Dump SDK's:
[code]
My configuration is clean Windows 7 SP1 x64 with full install VS2015 Enterprise (including .NET 4.6 SDK). No additional platform SDK's were installed.

[2015-09-21 17:07] tritao commented on #556
I tried it here and it does work but you also need to remove `-fms-compatibility` from the parser setup code because it overrides the option passed in the managed side. I will clean it up later.

[2015-09-21 17:16] vonzepp commented on #556
About NullReferenceException in GetSystemIncludes,
windowsSdkMajorVer = 10  in my case.
so in code:
[code]
windowSdks.Find did not find any matches and returns default value for 'ToolchainVersion' that contains null for ToolchainVersion.Directory.

[2015-09-21 17:18] vonzepp commented on #556
ucrtPaths variable contains:
include\%UCRTVersion%\ucrt;

[2015-09-21 17:24] tritao commented on #556
I developed the code testing with VS 2015 RC and there's no `%UCRTVersion%`. Guess I'll have to install the final version to test and reproduce your issue.

[2015-09-21 17:25] vonzepp commented on #556
After removing "-fms-compatibility" all works even without

[2015-09-21 17:29] vonzepp commented on #556
Thank you for fast answers! All issues in that case are not critical, because they have workarounds. The real problem with VS2015 is https://github.com/mono/CppSharp/issues/555.

[2015-09-21 20:59] vonzepp commented on #556
Finally > char32_t was fixed by setting:
driver.Options.ToolSetToUse = 190000000;
After that I was able to return "-fms-compatibility" option, problem was gone.

So, you was very close from the begining with suggestion:

[2015-09-22 12:25] vonzepp commented on #555
I found out that 32 - is Release size of std::string and 40 - is Debug size.
So I generated wrappers for Release code, but used it with Debug version of DLL.
So, the solution is to add into c# generator:
[code]

[2015-09-22 12:26] #555 closed

[2015-09-22 14:48] ddobrev opened #557 "Crash when wrapping QtNetwork"

[2015-09-22 14:49] ddobrev opened #558 "Remove the ASTContext parameter from Preprocess/Postprocess"
It can be obtained through the other parameter, the driver.

[2015-09-23 13:52] vonzepp opened #559 "CS_VALUE_TYPE affects parent type if applied to inner class"
I expect that Record remain as 'class' in generated stub and only ItemsIterator becomes struct in code below:
[code]
But both classes becomes 'struct' in generated stub.
[code]
Of cource I can do it by other way
[code]
but default behaviour of CS_VALUE_TYPE seems to be strange.

[2015-09-23 13:56] tritao commented on #559
Looking at the handling code in https://github.com/mono/CppSharp/blob/f97af2608716478cac4546ba3acd6ed87549f034/src/Generator/Passes/CheckMacrosPass.cs#L110 I think this behaviour can only be explained by a bug in the parser which makes both classes have the preprocessed entity.

Could you include a minified reproduction so we can fix it?

[2015-09-23 14:02] vonzepp commented on #559
Yes, sure. But sorry I don't understand what do you mean when say

? Short project containing file.h ?:
[code]

[2015-09-23 14:04] tritao commented on #559
If that's enough to reproduce it then it's perfect, thanks.

[2015-09-23 15:00] vonzepp commented on #559
https://www.dropbox.com/s/7wo5ruqc73j2h2q/Generator.zip?dl=0
Test project for .NET 4.6 / x64 / VS2015
[code]
First argument of generator.exe is Directory with TestFile.h, second is OutputDirectory

[2015-09-23 15:03] tritao commented on #559
Thanks. There should no need for the binary project though, the source code above should be enough.

[2015-09-24 06:27] genuinelucifer commented on #559
@tritao I would like to work on this (if you haven't started this yet)... I would need some help as I had a look and couldn't find how ```PreprocessedEntities``` are actually filled in any ```Class```.

[2015-09-24 06:33] genuinelucifer commented on #498
@ddobrev I am really quite confused on this task. I read much about delegates but that didn't help.
Do we wish to move all the instantiations of the delegates to a separate file/class and call them from each class when needed? If so, how does it help? I know I am missing something here but I actually am unable to get what to do here.

[2015-09-24 11:20] ddobrev commented on #498
Hello @genuinelucifer , glad to hear back from you. :)
You have understood it correctly - we want all delegates moved to a separate file and reused as needed. Just in case, here's an example.
What we now do is generate delegates:

protected delegate void _delegate_sampleFunction();

in the class to which functions (void sampleFunction() ) belong. So let's call this class here Class1. Let's also ha

[2015-09-24 11:29] tritao commented on #559
Sure Abhinav.

Preprocessed entities are handled by the parser in Parser::HandlePreprocessedEntities, https://github.com/mono/CppSharp/blob/master/src%2FCppParser%2FParser.cpp#L2603.

I am assuming the error is in the parser, but I haven't confirmed yet. You will want to test in Debug mode to be able to properly debug the native C++ code. It can be tricky to figure out issues in the native code be

[2015-09-24 16:35] vonzepp opened #561 "Should not generate wrappers for classes marked by CS_IGNORE"
I have 2 simple header files:
ClassA.h:
[code]
UnusedClassB.h
[code]
Generator setup:
[code]
UnusedClassB.h is not added to header files !
Generation output:
[code]
Generated classA.cs:
[code]

As you can see 'm_not_for_generation' field does not generated due to CS_IGNORE (it's correct), but UnusedClassB.cs was generated! That's wrong. Generation for UnusedClassB should be ignored  completely, be

[2015-09-25 12:20] genuinelucifer commented on #559
Sure.
Last time i tried, i failed to compile CppSharp in Debug mode. I'll try
again and ask you if i get stuck.
Thanks :)

[2015-09-25 12:23] genuinelucifer commented on #498
After GSoC i was a bit busy with some other projects and college exams.
Finally i am free and would like to resume contributing to Cpp# :)
.
Thanks for the explanation. I'll get back to u if i get stuck.
On Sep 24, 2015 4:50 PM, "Dimitar Dobrev" <notifications@github.com> wrote:

[2015-09-26 01:32] ddobrev opened #562 "QListData::NotIndirectLayout from QtCore has an interface as its primary base"
Since C++ does not have interfaces, with regards for better mapping the primary base, if any, should always be a class.

[2015-10-01 21:57] ddobrev commented on #498
Hello @genuinelucifer. A few days ago we found out that the repetition of delegates generates an extremely high amount of warnings in the generated code. This fact raises the priority of issue. I would like to therefore ask you if you have been able to start working on it and if you need any help.

[2015-10-02 13:02] genuinelucifer commented on #498
@ddobrev Pls look at #564 . If it doesn't look convincing, you may take over.

[2015-10-02 13:07] ddobrev commented on #498
@genuinelucifer don't worry, we're not that much in a hurry. :) I am going to check it out in a few minutes and help you as necessary but I am confident you can do this one too.

[2015-10-02 16:46] ddobrev opened #565 "Remove redundant "unsafe" in the generated code"
For example, when overriding and using auto-complete, IDE-s copy the complete signature of the virtual function, including any unsafe-s. If the directive is not actually needed, this is annoying.

[2015-10-03 23:42] lefta opened #567 "Linux makefile generator generates link directories in wrong order"
Hello,

In CppSharp.CppParser.make, `-L/usr/lib{32,64}` and `-L../../../deps/llvm/build/libs` should be inverted : if the user have llvm installed (most users will), executables will be linked on system llvm instead of freshly built llvm, which can create errors.

BTW, why do you use binaries to generate Makefiles? Some systems (autotools, or better cmake) exist, handle differences between systems

[2015-10-04 15:24] ddobrev commented on #557
Something fixed this, code generation is now successfully completed.

[2015-10-04 15:24] #557 closed

[2015-10-04 15:24] ddobrev opened #568 "Crash when wrapping QtDBus"

[2015-10-04 15:25] ddobrev opened #569 "QtNetwork binding doesn't compile"

[2015-10-04 15:25] ddobrev opened #570 "QtQml binding doesn't compile"

[2015-10-04 15:25] ddobrev opened #571 "QtConcurrent binding missing all of its functions"

[2015-10-04 20:00] lefta opened #572 "Build crash with GCC 5+"
Hello,
Building with GCC 5+, build crashes with memory corruption. Both LLVM/Clang and CppSharp must be built with GCC 4.9 to go to the end of the build. GCC 5 was not tested, 5.1 failed on Vtables and 5.2 on TypesGen.

GCC 5 made (and still makes, if I'm not wrong) heavy, ABI incompatible changes, so I don't wait for a quick fix, so I would recommend to add a warning to the guide in a first time.

[2015-10-04 22:38] tritao commented on #572
Thanks for trying to compile with GCC 5, will try to add that configuration to our CI build.

[2015-10-06 01:42] ddobrev commented on #453
Fixed by 287ad23.

[2015-10-10 14:40] taylorcw opened #577 "Cannot Compile with VS2013 and recommended versions of LLVM/Clang"
I have been unsuccessful compiling CppSharp with the recommended versions of LLVM/Clang (or the head revision, master revision, stable revision, etc.). I get a number of compile errors like th ones below. I have searched the file histories in some of the files that are complaining that the virtual method definitions do not exist in the base class and have not found the methods that the CppSharp me

[2015-10-10 14:49] ddobrev commented on #577
I saw you said you got the correct revisions of LLVM and Clang but this does look like changed API which suggests using different, presumably newer, versions. Could you please check that the versions you checked out match the ones in CppSharp/build/Clang-commit and CppSharp/build/LLVM-commit?

[2015-10-10 15:41] taylorcw commented on #577
Thanks for that guidance. Using the revisions in the files you mentioned, it is compiling! I was using the recommendations on the Getting Started Guide, which appears to be outdated. It may be helpful to include in the Getting Started guide the pointer to use the commits in those two files rather than recommending a specific one in the guide itself.

[2015-10-10 15:41] #577 closed

[2015-10-10 15:46] palkarz opened #578 "Generating a .NET Wrapper for LLVM and Clang"
Hi, guys. First and foremost, thank you for your efforts. This project will save tons of man-hours in the future (as it probably has already) and I can't thank you enough for spending your own time to save time for the rest of us.

Since I currently have no tasks involving C/C++ interop and I can barely read C++, let along write anything useful in it, I saw CppSharp as an opportunity to play with

[2015-10-10 16:15] tritao commented on #577
We already link the two files from the Getting started guide, I could not mention any mention of a specific LLVM revision on the guide but I might have overlooked something. Where did you see those outdated revisions recommended on the guide?

[2015-10-10 16:52] ddobrev commented on #577
@taylorcw  it seems the Clang API changed quite a little and it may be difficult for us to upgrade if we wait even more. On the other hand, we're both busy at present so I would really encourage you to try upgrading the code and send a pull.

[2015-10-10 19:19] taylorcw commented on #577
Thanks, guys, I appreciate your help. I would love to contribute, and may
be able to do so, but I'm new enough to CppSharp, LLVM, and Clang that I
want to get to know them better before attempting to submit changes or
fixes. More later...

Thanks again,
-Taylor

On Sat, Oct 10, 2015 at 9:52 AM, Dimitar Dobrev <notifications@github.com>
wrote:

[2015-10-10 19:31] ddobrev commented on #577
@taylorcw I'm really glad to hear it. Feel free to ask any questions you might have.

[2015-10-11 02:37] ddobrev commented on #578
We definitely pay attention to build issues but while waiting, you could try our binary releases at https://github.com/mono/CppSharp/releases.

[2015-10-11 02:39] ddobrev commented on #96
Fixed by 6f8c942b0ac0162c32310f21a0f7492a0dca0797.

[2015-10-11 02:39] #96 closed

[2015-10-11 14:57] tritao commented on #578
@ddobrev It seems like @palkarz didn't have any build issues, he even said he generated some bindings for LLVM and Clang C APIs.

About the issue, as part of Google Summer of Code we had someone working on generating bindings for Clang C++ APIs, you can find the work-in-progress pull request in https://github.com/mono/CppSharp/pull/519.

It's a pretty big task and still needs some work to be integ

[2015-10-11 16:07] ddobrev opened #579 "Crash when using multiple inheritance and calling a virtual function from a secondary base"
A branch called "crash_MI_virtual_from_secondary" contains a test.
The problem is that when the virtual function invokes the v-table delegate hook, it sends a pointer that is 2 * ptr_size ahead of the real pointer. Presumably this is because of the two v-table pointers, one in the primary and one in the secondary base. So that pointer is not found in the object map and an exception follows.

[2015-10-11 17:02] ddobrev opened #580 "Only patch v-tables for custom derived types - with the exception of the virtual dtor, if any"
Since the only purpose of patching v-tables, with the exception of virtual dtors, is calling custom overrides, we don't need the tables patched for wrapped classes. We also take a large performance hit because of the native-managed transitions at each virtual call. So what we need is have the patching only take place for derived types created by users. There are three possible solutions:

1. Have

[2015-10-12 19:05] ddobrev commented on #549
Fixed at 0950b869a19fe851803f4f594789dfc04d80c10d.

[2015-10-12 19:05] #549 closed

[2015-10-13 13:40] ddobrev opened #581 "QtHelp binding doesn't compile"

[2015-10-16 18:20] ddobrev opened #582 "A class only used as a secondary base in a dependent module generates invalid code"
The branch of "secondary_base_used_in_dependent_module" contains a test.

[2015-10-17 05:40] taylorcw commented on #577
Hi Dimitar,

Thanks for the quick response to the questions I had. CppSharp is compiling
and running like a champ now.

Are there some docs beyond what is on the wiki that would shed some light
on how to configure CppSharp?

Also, are there plans to support some basic STL containers like std::vector
and std::map?

Thanks again,
-Taylor

On Sat, Oct 10, 2015 at 12:31 PM, Dimitar Dobrev <notificatio

[2015-10-17 12:37] ddobrev commented on #577
@taylorcw we definitely lack extensive documentation but https://github.com/mono/CppSharp/blob/master/docs/GettingStarted.md does contain some basics - the "Generating bindings" section. If that is not good enough for you, I can offer you an advanced example to look at - https://gitlab.com/ddobrev/QtSharp/blob/master/QtSharp/QtSharp.cs, method Setup(Driver driver) in particular.

[2015-10-17 18:55] taylorcw commented on #577
Hi Dimitar,

Thanks again for responding so quickly. I understand how hard it is to
produce documentation on a project that is moving quickly.

I have previously reviewed all of the docs that you recommend, and they
have certainly helped to get up and running with the basics. The QtSharp
project shows the usage of more advanced functionality, but since comments
in the code are very sparse, it is q

[2015-10-18 00:17] ddobrev commented on #577
@taylorcw I am afraid that https://github.com/mono/CppSharp/tree/master/docs contains all the dedicated documentation we have. The only other pieces we have is some documentation directly in the source code (C# XML code comments), for example, some of our options are documented. The even worse part is that I don't see either me or @tritao extending it any time soon since we are both full with hand

[2015-10-18 20:36] iniside opened #583 "Unable to find an entry point named '_ZN8CppSharp9CppParser13ParserOptionsC2Ev' in DLL 'CppSharp.CppParser.dll'."
An unhandled exception of type 'System.EntryPointNotFoundException' occurred in CppSharp.Parser.CSharp.dll

I get these errors when trying to create bindings.

I have cloned latest version from github and builded it as Release/x86. I have copied over all generated files to the bin/Release folder inside my test app.
I'm using Visual Studio 2015, for building CppSharp, clang and my test app.

[2015-10-18 21:23] ddobrev commented on #583
This mangled symbol looks more like GCC than MSVC to me. Are you sure you compile the C++ part with MSVC?

[2015-10-18 22:26] tritao commented on #583
Looks like your CppSharp.CppParser.dll was compiled with the wrong set of Clang bindings, which we keep here, https://github.com/mono/CppSharp/tree/master/src/CppParser/Bindings/CSharp. It should be picking up the `i686-pc-win32-msvc` folder. Please check in your VS solution which files the project is compiling.

[2015-10-18 22:27] tritao commented on #583
Alternatively, please find one of our precompiled binary releases in https://github.com/mono/CppSharp/releases.

[2015-10-19 05:07] iniside commented on #583
Thanks guys. Problem solved, I had wrong libraries in references for my C# app.
Your answeres got me thinking that it might be something much simpler than wrong build since everything worked on provided test apps.

[2015-10-19 05:07] #583 closed

[2015-10-20 17:41] vonzepp opened #584 "Broken build"
[code]
It seems that some changes were not commited:
https://github.com/mono/CppSharp/commit/287ad2394d6a4588ae2bd34b16a21a3330816a8c
[code]

[2015-10-20 17:44] tritao commented on #584
This is most likely due to you not re-generating the VS project files with Premake. Which means your `CppSharp.Generator` project is missing the `CSharpCommentPrinter.cs` file added in that commit.

[2015-10-20 17:47] vonzepp commented on #584
aha. Yes, I don't.

[2015-10-20 17:52] #584 closed

[2015-11-01 22:36] ddobrev commented on #498
Fixed by fbb2f941c49ee5d034880cd38f1935964d128fa8.
@genuinelucifer I had to make quite a few changes after a discussion with @tritao but your work remained at the core of the solution. Thank you. Let me know when you are ready for your next assigment. :)

[2015-11-01 22:36] #498 closed

[2015-11-05 16:48] ddobrev opened #586 "Clean up managed v-tables in the C# front end upon exit"
Since the managed (patched) v-tables are created using Marshal.AllocHGlobal, we must destroy them using Marhsal.FreeHGlobal when they are not needed. Because they are static, we need to destroy them when the process is terminated. It can be done either using a static field with a destructor - https://stackoverflow.com/questions/4364665/static-destructor/18709110#18709110 - or with the help of AppD

[2015-11-05 16:57] ddobrev commented on #586
@genuinelucifer would you like to try this one?

[2015-11-14 22:48] ddobrev commented on #580
Fixed by c2a569e24d38b09a9e6a537f667ebdbf2aa46587.

[2015-11-14 22:48] #580 closed

[2015-11-18 20:51] ddobrev opened #587 "Implicitly cast to a class default args generate invalid code if the class is used in MI"
If a type is used in multiple inheritance and has an implicit constructor and that constructor is used to assign a default value for an argument, the generated code is invalid because the argument of that implicit constructor can be cast to the type but not to its interface.
To reproduce this, enable multiple inheritance and default arguments in the options and add the following to the CSharp test

[2015-11-18 20:53] ddobrev commented on #569
Fixed by bd5df799c9188ccd206ca70daa77f1227843489f, a18479e1db084d9c9c8aa290303db9b5626a31b2 and 01a087117e0452eabea82e3ab4957531214c9207.

[2015-11-18 20:53] #569 closed

[2015-11-19 19:39] ddobrev commented on #570
Fixed by d3644dcf5d4459012afc85d736efa0044e0d04f8, 1c52e67bb8e0017f42b623c942abdd1bda9b5a96 and 477dd914cb2a1bd0680a69facae8ca39603507b9.

[2015-11-19 19:39] #570 closed

[2015-11-20 23:18] ddobrev opened #588 "Add a custom marshaller for a dynamically-sized type to serve as an example"
Some C/C++ types do not have a static size. An example can be seen at http://code.qt.io/cgit/qt/qtbase.git/tree/src/corelib/tools/qlist.h#n83 (a dynamic allocation at http://code.qt.io/cgit/qt/qtbase.git/tree/src/corelib/tools/qlist.cpp#n82). These types can only be marshalled in special ways (for example using https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.icustommarshale

[2015-11-21 15:48] genuinelucifer commented on #586
@ddobrev I tried 2-3 methods for destruction. One of them involved wrapping all the VTable values into some other wrapper class ad use it's destructor instead. But, that was turning into problems.
.
I finally decided that using a static variable and using it's destructor (as in the thread you provided link to) is the best option here. Should I go with this approach?

[2015-11-21 18:27] ddobrev commented on #586
@genuinelucifer I am really sorry about this delay, I changed my e-mail recently and I have not got used it checking it too.
Yes, I favour this approach myself and I am glad you've reached the same conclusion. Please go ahead.

[2015-11-23 09:58] durswd opened #589 "How to add framework include search path?"
I try to run QtSharp on Mac.
To run it, I need to add add directory to framework include search path.
For example /Users/xxx/Qt5.5.0/5.5/clang_64/lib.

On clang, It realized by -F option,
so currently I use addArguments "-F/Users/xxx/Qt5.5.0/5.5/clang_64/lib",

Does smart method to add framework include search path exists on CppSharp?

[2015-11-23 11:46] ddobrev commented on #589
Hi, thanks for trying Qt#. Please bear in mind that it has not been run on OS X yet so you might run into a few issues.
Include paths are added through DriverOptions.addIncludeDir(). However, in the case of Qt#, they should be automatically detected as long as you pass the path to your qmake executable. As you can see in Program.cs in the source code, qmake is then invoked to get the include paths

[2015-11-23 12:44] durswd commented on #589
I tried to change addArguments into addIncludeDir.
But the result became bad.
Framework include search path is not equal to include search path.
OS X framework which contains header file is included on the path.

By the way, I try to use qmake.

[2015-11-23 15:32] ddobrev commented on #589
Could you please try DriverOptions.addSystemIncludeDir() instead?

[2015-11-23 20:45] tritao commented on #589
@ddobrev: durswd is talking about frameworks paths, which are different from include paths.

@durswd Right now we do not have any high level option to add framework paths. The way you suggested, `addArguments("-F/Users/xxx/Qt5.5.0/5.5/clang_64/lib")` should be the best way for now.

If you guys think it's worth it, then we can add a dedicated option for it in C++#.

[2015-11-23 21:00] ddobrev commented on #589
@tritao you're right, my mistake. I definitely think a separate option is necessary because it's a pretty basic feature. @durswd we would appreciate a patch. It should be relatively simple to do, just mirror the code we added for other similar options.

[2015-12-02 17:24] vonzepp opened #590 "Missed namespace"
Minimal steps to reproduce is specified below.
C++ code:
[code]
Fragment of generated C# code:
[code]
Second function line should be:
var __arg0 = new **NamespaceA.**A.Internal();
Generated code is not compilable due to missed namespace.
This problem can be reproduced only if **A** is struct in C#.

[2015-12-07 02:49] #556 closed

[2015-12-07 02:51] ddobrev commented on #556
@vonzepp if you still have problems, please reopen.

[2015-12-07 10:00] vonzepp commented on #556
It works perfectly. Thank you!

[2015-12-10 23:26] ddobrev commented on #543
This is a bug in Clang: https://llvm.org/bugs/show_bug.cgi?id=24655 .

[2015-12-11 00:47] ddobrev opened #594 "Protected nested types in secondary bases yield uncompilable code"
Since secondary bases are represented as interfaces, using protected types nested in them is impossible. The problem is further complicated by the inability of interfaces to nest types.

[2015-12-12 02:07] tomspilman commented on #500
Getting this working would be a huge benefit to many APIs cases we've run into.  Currently we end up writing a dummy class to wrap the struct with getters/setters to access the fields.  It is a lot of wasted effort when a C++ struct can be easily be represented in C#.

[2015-12-12 08:13] genuinelucifer commented on #559
@tritao I tried debugging the code but couldn't. I also tried building C++# in debug mode but got to many clang errors and the build was never successful. Please help.

[2015-12-16 15:22] #590 closed

[2015-12-16 22:36] ddobrev commented on #587
@genuinelucifer thank you for fixing the bug with name-spaces. Could you please try this one next?
I think the solution is to change the call in the overload in such cases from:

Call(Bar.Items.Item)

to:

Call((Bar) Bar.Items.Item)

or:

Call(new Bar(Bar.Items.Item))

[2015-12-17 09:55] genuinelucifer commented on #587
@ddobrev I've broken my build by trying to build llvm and clang all over
again. I'm using the version given by Joao but still a couple of errors are
left. I'll get back to this issue once I get everything working again.

[2015-12-17 15:30] ddobrev commented on #587
@genuinelucifer I understand, take your time. Let us know if we can help.

[2015-12-23 01:19] ddobrev opened #598 "The OS X build crashes if the destructor of CppSharp::CppParser::AST::Statement is virtual"
CppSharp::CppParser::AST::Statement used to have a virtual destructor as a cleaner solution to the proper memory management. However, it crashes the OS X build: https://travis-ci.org/mono/CppSharp/jobs/98422688. It does not occur when used either the C++/CLI or the C# binding on Windows.
The inferior solution used now - https://github.com/mono/CppSharp/commit/26e415af0e2830a75abe5030f9e5da5b3f97f5

[2015-12-23 01:42] ddobrev opened #599 "The OS X build crashes if the destructor of CppSharp::CppParser::AST::Comment is virtual"
CppSharp::CppParser::AST::Comment used to have a virtual destructor as a cleaner solution to the proper memory management. However, it crashed the OS X build: https://travis-ci.org/mono/CppSharp/jobs/98438635. It does not occur with either the C++/CLI or the C# binding on Windows.
 The inferior solution used now - https://github.com/mono/CppSharp/commit/a95511600fd0d23997c6291c6df63343b0a9b59b - d

[2015-12-27 13:13] tritao commented on #599
Duplicate of #598

[2015-12-27 13:13] #599 closed

[2015-12-30 12:44] genuinelucifer commented on #587
@ddobrev Pls review #600

[2016-01-02 18:27] ddobrev opened #601 "clang::Decl::isImplicit incorrectly mirrored in the AST of C++#"
Our properry of IsImplicit is, first, attached to Method instead of Declaration, and second, not read properly (if at all).

[2016-01-05 22:14] sajivthomas commented on #83
I am running into the same issue while trying to create a C# wrapper for https://github.com/OpenKinect/libfreenect2 , and it has header files in different folders

[2016-01-06 00:36] tritao commented on #83
Hi @sajivthomas, can you describe the issue you're experiencing in more detail?

[2016-01-06 06:06] sajivthomas commented on #83
Hi @tritao whenever an include looks something like this for example:
#include <libfreenect2/packet_processor.h>
It would throw parser error complaining that it cannot find packet_processor.h . The way I resolved it was to specify the full path to packet_processor.h and it worked. It works for my purposes as long as I can generate a C# wrapper.

Now, I am past all the parse errors, but there is an

[2016-01-06 14:42] ddobrev opened #602 "The returned type of an internal fuction in QtCore is incorrectly resolved"
The function of:

Q_CORE_EXPORT QSharedPointer<QObject> sharedPointerFromVariant_internal(const QVariant &variant);

from qsharedpointer_impl.h has its returned type resolved as QVariant<QObject>. This is doubly wrong since QVariant is not even a template type. To reproduce, add this code at the beginning of ASTConverter.Convert:

    for (uint i = 0; i < Context.TranslationUnitsCount; ++i)
    {

[2016-01-07 01:17] ddobrev commented on #602
There actually seems to be a problem with the memory. If just the offending header of "qsharedpointer_impl.h" is added instead of QtCore:

    driver.Options.Headers.Add("qsharedpointer_impl.h");

an ArgumentOutOfRangeException is raised while parsing that exact same returned type - Declaration.Kind for the Template.TemplatedDecl in question is invalid.
Critical note: "qsharedpointer_impl.h" is no

[2016-01-08 15:18] g40 opened #603 "Getting started with pre-built binaries"
How does one use the pre-built binaries? I cannot find a hint anywhere.

TAIA!

[2016-01-08 15:27] ddobrev commented on #603
@g40 you add references to all of them except CppSharp.Runtime (as its name says, it's for the complete bindings to use at run-time) and CppSharp.CppParser (it's a C++ library). Then you need to ensure CppSharp.CppParser is copied to your output dir (you can add it to your project and change its properties to have it copied).
You can use https://gitlab.com/ddobrev/QtSharp as an example.

[2016-01-08 15:30] g40 commented on #603
@ddobrev Dimitar, thank you.

[2016-01-09 01:02] ddobrev commented on #602
I have isolated a minimal test case. Just paste the following in Common.h:

	template <class T> class QWeakPointer;
	template <class T> class QSharedPointer;

	QSharedPointer<int> sharedPointerFromVariant_internal();

	template <class T> class QSharedPointer
	{
		QWeakPointer<T> toWeakRef() const;
	};

	template <class T>
	class QWeakPointer
	{
	};

	template <class T>
	QWeakPointer<T> QSharedPoin

[2016-01-11 14:58] ddobrev commented on #602
Fixed by b60de160f9090f6075d78b73cf82b3e65200172f.

[2016-01-11 14:58] #602 closed

[2016-01-11 15:00] ddobrev commented on #543
It turned out to be a bug in our code, it's been fixed by b3a5b88433436781b9389f0d505b160943752192.

[2016-01-11 15:00] #543 closed

[2016-01-11 15:01] ddobrev commented on #587
Fixed by 347d0cdbaf7fa9d93d29d5f2306825c8f32d03c2.

[2016-01-11 15:01] #587 closed

[2016-01-12 13:22] #601 closed

[2016-01-12 13:22] tritao commented on #601
Fixed by https://github.com/mono/CppSharp/pull/604.

[2016-01-12 13:25] tritao commented on #559
@genuinelucifer Feel free to try this one again now.

[2016-01-12 13:25] tritao commented on #545
Do you have a repro for this one?

[2016-01-12 19:20] magnet31 opened #606 "Problem with NULL wchar_t* in generated property"
Hello. Great work.

CPPSharp generated the following property :
[code]
const wchar_t * Foo::GetName()
{
	return _name;
}
[code]

[2016-01-12 19:39] nicholasfay opened #607 "Not able to find library"
I am including the directory of the library file using:
options.addIncludeDirs(@"C:\Program Files (x86)\STEP Tools\ST-Developer 16\lib\i86_win32_vc12_md");
and providing a library to work with using:
options.Libraries.Add("cisdll.lib");
but the console output says that:
"The library can't be found"

What would be causing this issue, when I know that exact library is in that exact directory?

[2016-01-12 19:54] tritao commented on #607
Try adding the full path to the library when adding it to the options.

[2016-01-12 20:08] nicholasfay commented on #607
I added \cisdll.lib to the end of my path and still get the same error
and it points me to this line in Delegatepasses.cs within the VisitLibrary function
var unit = context.TranslationUnits.Last(u => u.IsValid && u.IsGenerated &&
                !u.IsSystemHeader && u.HasDeclarations);

[2016-01-12 20:13] tritao commented on #607
The include directories are not related to the libraries.

You don't even need to provide the library, CppSharp will work fine without it, it's just to provide some better diagnostics in case of missing symbols.

So either comment the `options.Libraries.Add("cisdll.lib");` line, or try to pass the full path, i.e. `options.Libraries.Add("C:\path\cisdll.lib");`

[2016-01-12 20:14] tritao commented on #606
This does look like a bug.

[2016-01-12 20:36] tritao commented on #606
I've pushed a possible fix, let me know if it works for you.

[2016-01-12 20:36] #603 closed

[2016-01-13 13:31] ddobrev commented on #83
@sajivthomas my apologies, I have been really busy lately and I haven't been able to check this bug. However, if you manage to fix it, I would gladly take a patch.

[2016-01-13 21:17] sajivthomas commented on #83
No worries, I have been very busy too and was not able to spend any time lately. Attached is a patch that got the generator working. Not sure if it causes side effects or regressions ☺

Anyway it generated the C# files but now the files won’t compile after adding to a C# project. Any help would be very much appreciated.

Thanks,
Sajiv

From: Dimitar Dobrev [mailto:notifications@github.com]
Sent: W

[2016-01-13 21:27] tritao commented on #83
Hey @sajivthomas, I cannot see any attachment from Github. Please link it here via a Github Gist or some other method so we can take a look.

About the errors, you will also have to post them so we can help. If you can get us a way to reproduce them even better, as that way it'll be more likely we can fix them.

[2016-01-13 22:20] sajivthomas commented on #83
[st_branch.zip](https://github.com/mono/CppSharp/files/89573/st_branch.zip)

Attaching as zip. Let me try to get you the header files or maybe the entire solution for libfreenect2

[2016-01-14 10:18] ddobrev commented on #83
@sajivthomas I am afraid we cannot tale this code. You have only fixed the symptom but not the problem itself - that destructor should not be missing from the delegates to begin with. However, you can definitely use this piece locally until we have the time to fix the real issue. Your suggestion of sending your solution would also help a great deal, we would be able to directly debug it and see wh

[2016-01-14 13:38] magnet31 commented on #606
Actually, I just use your ready-to-use binaries. Maybe now is the time to get serious about CPPSharp so I can test your fix on your latest commits !  :^)
I will download your latest source and try to test against them.
I'll keep you informed.
By the way, is it possible to generate a  C#   MyClass[ ]    from a C++     MyClass**       ?
Tks

[2016-01-14 13:44] tritao commented on #606
We're not able to do that directly because we have no way of knowing the size of the array from the double pointer. It should be possible to support though if you can tell CppSharp how to obtain the size, either via a NULL pointer convention or an explicit array size parameter.

[2016-01-14 14:15] magnet31 commented on #606
Too bad. You guys are just a few lines of code away from being able to feed the Entity Framework Code First database generator. If you can do that, Microsoft is going to looooooove you. Thanks anyway and keep the good work.

[2016-01-14 16:32] sajivthomas commented on #83
I was not expecting the patch to be accepted anyway ☺. Didn’t spend a lot of time understanding the whole generator just wanted to see if I can at least get a quick and dirty solution. Anyway the source solution is uploaded here https://drive.google.com/file/d/0B6u4cYoRYGz6RlFKZmRWRkZmdmc/view?usp=sharing

/build/libfreenect2.sln is the solution and /build/freenect2.vcxproj is the project for whic

[2016-01-14 18:34] ddobrev commented on #606
@magnet31 we might be interested in completing C++# to the point where it can support this project you've mentioned. Could you please give some more details about it?

[2016-01-14 18:40] ddobrev commented on #83
@sajivthomas thank you for sharing your code but I am afraid I cannot download it, do you perhaps need to adjust the permissions?

[2016-01-14 19:35] sajivthomas commented on #83
Could you try now please.

[2016-01-14 19:55] ddobrev commented on #83
It works now, thank you. We'll get back to you as soon as we've been able to debug it.

[2016-01-14 20:14] ddobrev commented on #83
I can see now the package only contains the wrapped library, not the wrapping project itself. Is the latter closed source?

[2016-01-14 20:59] sajivthomas commented on #83
The wrapping project (.NET library) would basically just contain out put from CppSharp generator. The idea is to then reference it in  a .NET application to interop with the native C++ library.

Anyway I uploaded wrapper project here - https://drive.google.com/file/d/0B6u4cYoRYGz6T0ViOThrTmx5WHc/view?usp=sharing for your reference as well. However, it does not compile. So, you would need to remove

[2016-01-14 22:30] magnet31 commented on #606
Hi Dimitar.

Entity Framework is the ORM developped by Microsoft.

an ORM or Object Relationnal Mapping, maps the instances of a class to a line in a database table.

properties of the instance are mapped to columns in the database table. etc.

In the first version of Entity Framework (EF) the classes where generated from the tables in the database.

Say, for instance, we have generated a class Pe

[2016-01-14 23:08] ddobrev commented on #83
@sajivthomas thank you. @tritao is going to be a little busy so I'll be responsible for checking the bug out. I'll let you know as soon as I have news.

[2016-01-14 23:23] ddobrev commented on #606
I understand now. I knew what EF was, I just couldn't see its relation to C++ but now I can thanks to your explanation.
The solution cannot be universal, as @tritao explained. However, C++# can be customised for specific bindings. In your case you must have some kind of an indicator (a field, a parameter) for the length of your MyClass** arrays - otherwise you wouldn't be able to use them even in

[2016-01-14 23:44] magnet31 commented on #606
Thanks Dimitar, i will have a look at your custom pass.

Hope you good for your project.

Frédéric Taillefer

Consultant .Net

E.U.R.L Magnet

+33 699 37 20 20

________________________________
De : Dimitar Dobrev <notifications@github.com>
Envoyé : vendredi 15 janvier 2016 00:24
À : mono/CppSharp
Cc : Frédéric Taillefer
Objet : Re: [CppSharp] Problem with NULL wchar_t* in generated property (#606

[2016-01-15 00:04] tritao commented on #83
By the way, it would be a good idea to create a new Github issue to track the problem. This issue has already been closed.

[2016-01-15 00:48] sajivthomas opened #610 "C# generator does not consider some C++ functions."
Once its done with parsing all the header files and starts generating code it throws and error in the function 'GetVirtualCallDelegate' in this file \CppSharp\src\Generator\Generators\CSharp\CSharpTextTemplate.cs

The reason is that Driver.Delegates[method] fails since there is no entry for the key in the dictionary. The method in this case is: virtual ~DepthPacketProcessor();

[2016-01-15 00:49] sajivthomas commented on #83
@tritao Done. https://github.com/mono/CppSharp/issues/610

[2016-01-18 23:12] ddobrev commented on #610
I have reproduced a crash with the same dictionary but with another function. I am therefore not sure that what I've reproduced is your issue. When I have fixed it, I'll let you know so that you can test.

[2016-01-18 23:26] #607 closed

[2016-01-18 23:31] sajivthomas commented on #610
@ddobrev thanks for the update.

[2016-01-24 22:34] ddobrev commented on #610
@sajivthomas fixed by https://github.com/mono/CppSharp/commit/9ab71aeac7b70c00e3bd8bc0859ddb94d0f78b7c.

[2016-01-24 22:34] #610 closed

[2016-01-28 07:40] denfromufa opened #613 "Reverse PInvoke support? Expose .NET types in native code?"

[2016-01-28 15:25] ddobrev commented on #613
Hello @denfromufa . I am afraid we won't have time for this any time soon, not in the next 6 months anyway. Nevertheless, we are definitely interested in learning about your use case.

[2016-01-28 15:47] denfromufa commented on #613
My use case is for pythonnet to support .NET, Mono, and CoreCLR from single
c# code base

On Thu, Jan 28, 2016, 9:25 AM Dimitar Dobrev <notifications@github.com>
wrote:

[2016-02-03 08:14] chunseoklee opened #615 "fail to generate cs file for function with union as argument"
[code]
The code above failed to generate cs file for ```func_union```.
I think CppSharp omitted functions that get union structure as an argument.
Could someone help me to resolve this issue ? or this feature is not implemented yet ?

[2016-02-03 15:47] tritao commented on #615
I took a quick look and this is because we ignore the typedef declaration, the relevant code is https://github.com/mono/CppSharp/blob/master/src%2FGenerator%2FPasses%2FCleanInvalidDeclNamesPass.cs#L118.

If I remove that whole method, your example code works. @ddobrev do you know if we can safely get rid of this code?

[2016-02-03 20:58] tomspilman commented on #435
This is still a problem almost a year later.  This causes all sorts of confusion when using CppSharp.

[2016-02-03 21:16] #606 closed

[2016-02-09 23:46] dowitdo opened #616 "Problem compiling cppsharp solution"
Hello, I am new to CppSharp and I am trying to compile the CppSharp solution on Windows. I compiled llvm without issue. But I cannot compile the cppsharp project. I am getting the following error

'getDataLayoutString' : is not a member of 'clang::TargetInfo' in parser.cpp

Sure enough getDataLayoutString is not in ppSharp\deps\llvm\tools\clang\include\clang/Basic/TargetInfo.h.

I tried using both

[2016-02-10 00:25] tritao commented on #616
Either use the revisions for LLVM and Clang specified in files `LLVM-commit` and `Clang-commit, or follow the instructions in https://github.com/mono/CppSharp/blob/master/docs/GettingStarted.md#downloading-the-llvm-and-clang-packages to download pre-built LLVM packages.

[2016-02-12 18:54] #616 closed

[2016-02-12 18:56] dowitdo opened #617 "1 Byte aligned dlls"
How can I use a c++ dll that is compiled using 1 byte structure alignment? I couldn't find a setting for this. Is it even possible to use 1 byte aligned dlls?

[2016-02-12 19:12] tritao commented on #617
Yes this is possible. If your structs in C/C++ have been declared in the headers with the proper `declspec(align)` attributes then it should work automatically. If you instead force all structs to be packed instead using a compiler flag, then you should pass the same compiler flag to CppSharp using `options.Arguments` (in MSVC case it's the `/Zp1` compiler flag).

[2016-02-13 14:02] genuinelucifer commented on #435
@ddobrev I created the 3 headers in the same folder as the CSharp test project files. But, I could not generate their C# files. I also tried to add them to premake4.lua in the CSharp folder by changing
```SetupTestCSharp("CSharp")```
to
```SetupTestCSharp("CSharp", {"ClassA", "ClassB", "ClassY"})```
but it didn't work.
How do I add them to any test to generate the output c# files?

[2016-02-13 15:24] ddobrev commented on #435
Where exactly are your new headers located? If you place them in CppSharp/tests/CSharp, they should appear as soon as you have regenerated your C++# solution.

[2016-02-15 07:29] master131 opened #618 "Bug in parsing of default arguments with dependent type unary expressions"
It appears that no matter what I do, I cannot get CppSharp to recognise absolutely anything. It will not detect any libraries or headers that I point to in my ILibrary implementation, simply saying that File 'xxx' was not found. I've also tried the full path and replacing backslashes with forward slashes. I'm on Windows and I built CppSharp and llvm using VS2013 as per build instructions. I've als

[2016-02-15 08:47] tritao commented on #618
CppSharp include paths works just like the compilers `-I` option, so if you pass `-I include` you would include files as `#include "zlib.h"` and not `#include "include/zlib.h"`.

Try doing:

[code]

[2016-02-15 09:56] master131 commented on #618
Ah right, my bad. That seemed to do the trick. Thanks! :) Now I'm trying it on [AsmJit](https://github.com/kobalicek/asmjit) and seem to be running into a StackOverflowException in the ParseHeader method.

[code]

[2016-02-15 11:12] jk-cx opened #619 "CSharp generator with 64-bit name mangling"
Hi All, is there a way to get the CSharp generator to generate dll-EntryPoints with 64-bit name mangling? I've got a Windows Universal 10 project running under Win32, accessing a 32-bit C++ interface dll. But when I try the same with a 64-bit dll it fails. A quick lookup with depends.exe revealed that the mangled function names in the 64-bit version are different and the code genereated by CppShar

[2016-02-15 12:32] jk-cx commented on #619
Figured it out myself ... setting
`options.TargetTriple = "x86_64-pc-win32-msvc";`
does the job :-)

[2016-02-15 12:32] #619 closed

[2016-02-15 18:28] tritao commented on #618
Thanks for the bug report, I can reproduce it, here's a better stack trace (which you can get when compiled against LLVM debug version).

[code]

[2016-02-15 21:27] tritao commented on #618
Should be fixed, let me know if you find any further problems.

[2016-02-15 21:27] #618 closed

[2016-02-16 18:39] dowitdo commented on #617
Neither seem to work for me. In my header I used

_declspec(align(1)) class Foo
{
public:
	_declspec(dllexport) Foo();

    int a;
...

I also added

    class SampleLibrary : ILibrary
    {
        /// Setup the driver options here.
        public void Setup(Driver driver)
        {
            DriverOptions options = driver.Options;
            options.GeneratorKind = CppSharp.Generators.Generat

[2016-02-16 19:39] tritao commented on #617
OK I see where the problem is.

From MSDN: ```Use __declspec(align(#)) to precisely control the alignment of user-defined data (for example, static allocations or automatic data in a function).```

This option does not do what you think it does. It is used to control where usages of `Foo` in your case will be aligned, so if you declared a `Foo foo` variable either inside a class or as a local vari

[2016-02-16 21:54] dowitdo commented on #617
That worked.

Thanks tritao

[2016-02-16 21:54] #617 closed

[2016-02-18 16:33] tritao commented on #435
Hey guys (cc @jamesford42 @tomspilman)

We'd like to get this fixed but @genuinelucifer is having trouble reproducing the issue.

Can you look at https://github.com/mono/CppSharp/pull/620/files and see what we're missing?

[2016-02-18 16:56] tomspilman commented on #435
@tritao - Maybe using `#pragma once` instead of header guards?

[2016-02-18 16:57] tritao commented on #435
I can't see it making any difference, it should be equivalent, but give it a shot @genuinelucifer.

[2016-02-18 17:17] genuinelucifer commented on #435
Tried, didn't work. @tritao @tomspilman

[2016-02-18 17:28] tomspilman commented on #435
@genuinelucifer - Maybe it is in how we normally include the files in the generation process:
[code]

[2016-02-18 17:30] genuinelucifer commented on #435
Umm. In tests the exact same thing is done via ```GeneratorTest.cs```
So, probably won't make much difference. I'll to test anyway.

[2016-02-18 21:40] ddobrev commented on #435
@tomspilman could you perhaps gradually decrease your real code to a test case?

[2016-02-18 21:47] tomspilman commented on #435
@ddobrev - Will do...  should have a test case for you in an hour or so.

[2016-02-18 22:11] ddobrev commented on #435
@tomspilman thank you very much. @genuinelucifer could you please try with @tomspilman 's test case when it's been completed?

[2016-02-20 03:10] javagg opened #622 "encounter 404 when download llvm from dropbox"
[code]

[2016-02-20 09:59] tritao commented on #622
Our build bot is using VS 2013 which is why the build for VS 2015 has not yet been uploaded to the system. I'll be able to upload a build for you next week... or you can try running `"premake5" --file=scripts/LLVM.lua build_llvm` instead which should build it for you.

[2016-02-21 23:08] ddobrev opened #623 "Add helpers for working with pointers"
Right now users have to manually use fixed blocks and work with pointers if, for instance, they want to work with a pointer representing an array:

fixed (char* c = param)
{
    for (int i = 0; i< mySize; i++)
    {
          char val = *(c + i);
          ...
    }
}

which is not pretty. We could have our own helpers to help users with such code.

[2016-02-23 21:38] ddobrev commented on #435
Hello @tomspilman . Have you had any success with the test case?

[2016-02-23 21:40] tomspilman commented on #435
Sorry... got sucked into another problem.  I'll get you a test case tonight.

[2016-02-24 12:04] ddobrev commented on #435
@tomspilman there apparently are some specifics in your code which cause the error. I am afraid we cannot proceed with this issue without a test case. So feel free to let us know when you have it.

[2016-02-25 15:39] javagg opened #624 "Need a way to set SharedLibraryName option for each TranslateUnit"
currently, the SharedLibraryName cannot change during the generation in one Library which may include multiple translationUnits.

[2016-02-25 15:40] tritao commented on #624
I'm not sure I understand the issue here...

There should just be one final shared library generated per library, so why do you need to change the name during generation?

[2016-02-25 15:58] ddobrev commented on #624
@tritao there are two possible explanations:
1. @javagg, you want to have separate wrappers, perhaps one per header, for a single native library - we won't support this because it makes no sense;
2. @javagg, you want a wrapper per native library but do not know how to get it - you need to create one ILibrary implementation per native library and call ConsoleDriver.Run for each in succession. In ca

[2016-02-26 11:57] Anubhav10 opened #625 "Error in compiling CppSharp on Linux"
I am using ubuntu 14.04 . I am new to open source community. I am trying to compile CppSharp but i am getting the error`'/usr/include/wchar.h(39,11): fatal: 'stdarg.h' file not found
CppSharp has encountered an error while parsing code.'`  again and again. Could someone please tell me its a error from my side or some bug.
This is what happens in the terminal

[code]

[2016-02-26 13:01] javagg opened #626 "How to handle a paramter of "const char *str[]" type?"
CppSharp reports that it is a decayed type and  be ignored.
how to un-ignore it so i can write a typemap to handle the parameter?

[2016-02-26 13:46] tritao commented on #625
This is a bug in our pre-built CI packages, I will take a look at properly fixing later.

For now, you can look at the workaround we have put into place here: https://github.com/mono/CppSharp/blob/bbe7c1cb725868d1b1ec640833026b06ce55c1c9/src/Generator.Tests/GeneratorTest.cs#L53

Comment the if so its not just restricted to Travis CI, and make sure you edit the include path to match the one in your

[2016-02-26 13:49] ddobrev commented on #624
@javagg have you been able to handle this? If so, could you please close it?

[2016-02-26 14:58] javagg commented on #624
@ddobrev I used your method, the problem is solved. Thanks!

[2016-02-26 14:58] #624 closed

[2016-02-26 16:32] ddobrev commented on #624
@javagg excellent, I am glad you have fixed your problem. Just a small clarification: I meant to say you needed one ILibrary object per native library, not one implementation per library because you can pass headers and libraries to a single implementation thus avoiding code repetition.

[2016-02-26 17:13] javagg commented on #626
I change const char *str[] into const char **str in the header file with a patch.
Now I want to marshal this using c# string[], is there some way to do this, I can't figure out how to use typemap to handle it.

[2016-02-26 19:18] Anubhav10 commented on #625
it worked

[2016-02-26 19:18] #625 closed

[2016-02-26 20:22] ddobrev commented on #626
@javagg we have a bug here because we can and we do represent pointers to primitives (including arrays) as such. Since decayed types can be reduced to pointers, we can represent them when they are primitive instead of flatly ignoring them. Please do not close this issue even if it all works out for you in the end, we need to fix it.
Now about representing the const char* as string[]: I am afraid t

[2016-02-28 02:41] HinTak commented on #613
I am also interested in this to port something from windows to mono which was written that way - the C# side passes a few delegates to the C++/CLI side to invoke as function pointers.

[2016-02-28 05:29] nathanaeljones opened #627 "Fails to compile under gcc 4.8.5 (ubuntu 14.04.1)"
[code]
Is there a blessed compiler version?

[2016-02-28 10:25] tritao commented on #627
See https://github.com/mono/CppSharp/issues/625

[2016-02-28 23:36] tritao opened #628 "Error generating code for const ref subscript operator"
Add to `Common.h` TestIndexedProperties:

[code]

Error:

[code]

C# code:

[code]

[2016-02-29 10:12] benpye opened #629 ".NET Core generation support"
Whilst in an ideal world, it would be great to both run CppSharp on .NET and generate code for .NET Core I think currently it would suffice to just be able to generate code that is compatible with .NET Core. It would be great to be able to support all the new platforms that are to be added (OS X, Linux, FreeBSD) in the Microsoft framework, meaning that we wouldn't always need Mono there when wanti

[2016-02-29 14:32] tritao opened #630 "Error generating code for return type overloaded subscript operator"
Add to `Common.h` TestIndexedProperties:

[code]

Error:

[code]

We need to check for this, maybe in CheckAmbiguousFunctions pass.

[2016-02-29 14:57] ddobrev opened #631 "Wrap operators unsupported in C# as named methods"
Many operators C++ has cannot be presented as operators in C#. We ignore at least some of such operators at present. However, they can and should be wrapped as named methods instead.
Note that some operators have more or less their equivalent in apparently unrelated C# constructs. For example, the assignment operator would best be represented by a C# copy constructor. If there already is one, the

[2016-03-01 10:38] benpye commented on #432
This is annoyingly still an issue, it also affects the SDL example. Any new ideas on how to get around this?

[2016-03-01 11:10] tritao commented on #432
Hi @benpye, I will look into fixing the issue.

[2016-03-01 12:03] benpye opened #632 "SDL example generates impossible struct"
The SDL sample generates a struct with an invalid field, a fixed array cannot be of type IntPtr.

[code]

[2016-03-01 12:10] benpye opened #633 "Support UTF8 strings"
UTF8 is often used as the encoding for strings in open source libraries, unfortunately there is currently no support for using UTF8 as the encoding. I believe for string parameters this would require some helper functions with the equivalent function of `Marshal.StringToHGlobalAnsi` and `Marshal.PtrToStringAnsi` and then changes at https://github.com/mono/CppSharp/blob/master/src/Generator/Generat

[2016-03-01 16:39] tritao commented on #632
We added support for fixed arrays a while ago and it seems we missed this edge case.

Minimal repro:
[code]

[2016-03-01 18:48] #632 closed

[2016-03-01 18:49] tritao commented on #632
Thanks for the bug report, this should now be fixed.

[2016-03-02 07:26] ddobrev commented on #633
We should most probably be able to reuse https://github.com/libgit2/libgit2sharp/blob/3010f8373313a47e9a889e8b3e61a30cd2eb359b/LibGit2Sharp/Core/EncodingMarshaler.cs and https://github.com/libgit2/libgit2sharp/blob/3010f8373313a47e9a889e8b3e61a30cd2eb359b/LibGit2Sharp/Core/Utf8Marshaler.cs.

[2016-03-03 19:06] dowitdo opened #634 "Calling c# from c++"
Is there a way to pass a function pointer or add a callback function that is callable from the c++ dll?

I would like my c++ dll to call a function from my c# application.

[2016-03-03 19:12] tritao commented on #634
Yes, you can use delegates to achieve this.

See:

https://github.com/mono/CppSharp/blob/d02192ed6651af1bcaa8287b0f0e97f6e65330ad/tests/Common/Common.h#L331

https://github.com/mono/CppSharp/blob/edf077fbfb88961ab87f172074bcceae1c54c014/tests/Common/Common.Tests.cs#L281

[2016-03-06 15:19] #615 closed

[2016-03-07 16:40] nathanaeljones commented on #629
+1. What specific issues have you run into?

[2016-03-07 16:43] benpye commented on #629
The primary issue I have noticed is that SuppressUnmanagedSecurity is
emitted.

On Mon, 7 Mar 2016, 16:41 Nathanael Jones, <notifications@github.com> wrote:

[2016-03-07 17:12] ddobrev commented on #629
SuppressUnmanagedSecurity is unfortunately vital to us because it skips certain checks when calling into native code thus significantly increasing performance. In order to solve this, we need more details. For example, is the problem that SuppressUnmanagedSecurity causes some problem with .NET Core or rather that it doesn't exist at all? Is there an alternative to it? In case there is, is there a

[2016-03-07 17:14] benpye commented on #629
All P/Invoke's on CoreCLR effectively have this
https://github.com/dotnet/coreclr/issues/1605

On Mon, 7 Mar 2016 at 17:13 Dimitar Dobrev <notifications@github.com> wrote:

[2016-03-07 17:19] tritao commented on #629
If that is the only issue on .NET Core then we can easily fix it, though ideally we should also integrate CoreCLR on the CI system to test against it.

[2016-03-08 20:49] #634 closed

[2016-03-08 21:55] dowitdo commented on #634
Sorry for not closing this issue.

Thanks for the help Tritao

[2016-03-21 22:57] dowitdo opened #636 "argumentnullexception in mscorlib.dll system.io.path.combine"
My project was running fine when compiled and ran under VS2013. The only thing that I believe has changed was installing VS 2015. Now regardless if I compile using vs2013 or vs2015, I always get a null exception in system.io.path.combine.

Here is my call stack when the exception is thrown:

[code]

What has changed and how do I fix it?

[2016-03-21 23:02] ddobrev commented on #636
The code in the trace collects include paths. They are specific to the particular OS and its configuration which makes it difficult to determine what exactly is wrong. Apparently some of the paths is incorrectly obtained and therefore null which in turn causes the exception. If you are able to debug that piece, you'll be able to see the problem yourself. If not, let me know and I'll think of anoth

[2016-03-21 23:04] tritao commented on #636
I fixed an issue on that code recently, see https://github.com/mono/CppSharp/commit/e95012441c092b167f08294d5fbcd4858eb27d3a.

Does your local copy have this commit?

Apart from that, I second @ddobrev's comment. Getting this under the debugger and checking/printing out the intermediary values would help a lot in tracking it down.

[2016-03-21 23:28] dowitdo commented on #636
I've been using the prebuilt binaries, so I've never built the DLLs. I can proceed down the path of building the DLLs myself but I remember having problems before. I don't remember what those problems were off the top of my head.

I will look into building them again.

Tritao, I also just grabbed the latest binaries which I presume had your fix but that didn't help.

[2016-03-21 23:39] tritao commented on #636
OK then it must be some machine-specific problem on your system. Let us know if you hit any problems while building, we'll sort it out.

[2016-03-22 18:07] dowitdo commented on #636
I am having problems downloading llvm.
The following file does not exist

https://dl.dropboxusercontent.com/u/194502/CppSharp/llvm/llvm-f79c5c-windows-vs2012-x86-RelWithDebInfo.7z

[2016-03-22 18:21] tritao commented on #636
We do not support VS 2012 anymore, can you try with VS 2013 or 2015?

These are the configurations we have available pre-compiled:

[code]

[2016-03-22 18:22] ddobrev commented on #636
@dowitdo the entire link is https://dl.dropboxusercontent.com/u/194502/CppSharp/llvm/llvm-f79c5c-windows-vs2015-x86-RelWithDebInfo.7z.

[2016-03-22 18:54] dowitdo commented on #636
Getting closer. When building the libraries I get

1>clangFrontend.lib(PCHContainerOperations.cpp.obj) : error LNK2038: mismatch detected for '_ITERATOR_DEBUG_LEVEL': value '0' doesn't match value '2' in AST.obj
1>clangFrontend.lib(PCHContainerOperations.cpp.obj) : error LNK2038: mismatch detected for 'RuntimeLibrary': value 'MD_DynamicRelease' doesn't match value 'MDd_DynamicDebug' in AST.obj

Th

[2016-03-22 19:05] ddobrev commented on #636
You're not building in RelWithDebInfo.

[2016-03-22 19:52] dowitdo commented on #636
So I switched to building the release version, just verify I can do that before building the debug version. The libraries build fine but building the Tests yield the original problem

9>  Generating bindings for Common (CLI)
9>  Looking for tests in: C:\Users\xx\Downloads\CppSharp-master\CppSharp-master\tests\Common
9>
9>  Unhandled Exception: System.ArgumentNullException: Value cannot be null.
9>

[2016-03-22 19:55] ddobrev commented on #636
You're already there. Just put a breakpoint at the start of CollectUniversalCRuntimeIncludeDirs and see which path is null and why.

[2016-03-22 20:17] dowitdo commented on #636
Ah. I apologize for my ignorance and thanks for your patience.

The problem is windowsKitSdk is null and it is null because kitsRootKey = "KitsRootKey10" whereby the windowKitsSdks list only has version 1 and 8.

[2016-03-22 20:21] ddobrev commented on #636
I understand. Could you please try fixing it? I think it shouldn't be difficult given that you can easily test it.

[2016-03-22 20:55] tritao commented on #636
We get the `kitsRootKey` value from `<VSDir>\Common7\Tools\VCVarsQueryRegistry.bat`, so I think that means it should exist on your system... It's weird that VS directs us to look at version 10 yet your system does not seem to have it.

Maybe the code in https://github.com/mono/CppSharp/blob/master/src%2FCore%2FToolchains%2FMSVCToolchain.cs#L177 is not correct.

[2016-03-22 22:00] dowitdo commented on #636
MSVCToolchain.cs looks ok to me. Maybe it's a bug in VCVarsQueryRegistry.bat. It is vastly differrent from the vs2012 and vs2013 versions.

In any case I fixed the problem by adding the following if statement

            if (windowsKitSdk.Value==null)
                windowsKitSdk = windowsKitsSdks.Last();

            includes.AddRange(
                CollectUniversalCRuntimeIncludeDirs(vsDir,

[2016-03-22 22:03] ddobrev commented on #636
Could you please put spaces around "==" and send a pull request?

[2016-03-22 22:25] dowitdo commented on #636
Will do first thing tomorrow

[2016-03-22 22:30] tritao commented on #636
No need for the trouble, I've pushed your reported fix, thanks.

[2016-03-22 22:30] #636 closed

[2016-03-24 18:15] erledzus opened #637 "Install-Package : CppSharp 0.1.0 is not compatible with UAP,Version=v10.0."
Error message was received when attempting to use Package Manager from within Visual Studio 2015, in a solution with very simple Universal Windows projects

[2016-03-24 21:06] tritao commented on #637
The packages published on NuGet are not official and do not seem to have been updated in a while.

I recommend using the official releases we provide on Github until we start publishing our own NuGet packages.

Is there any reason you need to use CppSharp itself under the Universal Windows Platform App?

I'm not familiar with this UAP model... but if you're just using CppSharp for bindings, you ca

[2016-03-28 18:45] tritao opened #638 "Error generating code for parameter type with less accessibility than internal method"
So this problem manifests in this piece of code: https://github.com/llvm-mirror/lldb/blob/18a4713536a5d17c0291c3fe28fe1298381ec89a/include%2Flldb%2FAPI%2FSBTypeFormat.h#L93

[code]

P/Invoke:

[code]

@ddobrev says we can just use `protected internal` and it should be enough.

[2016-03-28 18:50] tritao commented on #453
Still getting issues related to comment generation.

You can see them on the diffs here: https://github.com/tritao/LLDBSharp/commit/26436886f4a5f8d4423e4e07ab90fb2e12bead8c

[2016-03-28 22:21] #638 closed

[2016-03-29 20:47] tritao commented on #453
[code]

[2016-04-04 01:12] ddobrev opened #639 "Generated .proj on OS X have incorrect structure"
For example, the CppSharp.Generator project has the following layout:

<project root>
    src/
        Generator/
            AST/
            ...
            Driver.cs
            ...

instead of:

<project root>
    AST/
    ...
    Driver.cs
    ...

[2016-04-07 09:07] quantbrothers opened #640 "null reference exception when class has base class"
I am used master branch and mono 4.2.2

[code]

Following code produced this error:

[code]

// other header file

[code]

when i removed base class ": public Message" from class Part this exception disappeared

[2016-04-08 10:50] TechnikEmpire commented on #21
Could you clarify this? I don't want name mangling at all. I tried to set the LanguageVersion to C and that just crashes everything with warnings about using the GNU standard C library with "C++ objects"

[2016-04-08 11:37] tritao commented on #21
Based on what you said I cannot tell what the issue might be or it is related to this issue.

Please open a new issue and provide more information so that we can help.

[2016-04-08 11:43] TechnikEmpire opened #641 "Can't control name mangling"
Forgive me if I've missed this in the docs somewhere.

I'm trying to control the name mangling on extern function definitions. I'm trying to generate pinvoke code for part of the Win API. I tried:
[code]
But this instead just causes a crash with:

[code]

I'm assuming I am handling this incorrectly. The libraries I'm trying to generate code for only have exported C functions (obviously no mangling

[2016-04-08 11:47] TechnikEmpire commented on #21
@tritao Done, thanks for your time.

[2016-04-08 11:58] tritao commented on #641
`LanguageVersion.C` is used to tell the compiler to parse the code in C mode, but given the error you posted, `error: invalid argument '-std=gnu99' not allowed with 'C++/ObjC++'` it looks like your sources are C++ files (and named `.cpp`, is that the case?). If your sources are C files (named `.c`) then we might have a bug.

If I understood correctly, the issue is that you want the name mangling o

[2016-04-08 12:10] TechnikEmpire commented on #641
Perhaps I'm using this tool beyond its intended scope. I'm only supplying headers, and they're definitely C headers. With regard to overriding the attribute, it's because the functions I'm pinvoking against are C exports, no mangling, so the `::EntryPoint` definitions generated on all the `extern` definitions are incorrect. It's not a big deal though, I can write a regex in notepad++ to demangle m

[2016-04-08 12:15] tritao commented on #641
Well if the headers are C code, then CppSharp should work out of the box. There should be no need to manually change the generated output, I consider that a bug.

Can you share the input code that gives out the exception above in C language mode?

[2016-04-08 12:28] tritao commented on #640
This looks like a serious bug, but I cannot reproduce it here.

Can you share a test project with full source code that reproduces it?

[2016-04-08 12:42] ddobrev commented on #640
@quantbrothers  which operating system did you test on? You use Mono so it's Linux or OS X but which one? It matters because it might be a problem caused by system headers.

[2016-04-08 13:03] vonzepp commented on #640
It's linux. The bug is reproduced in both Ubuntu 15.04 x64 (mono 4.2.1) and some of the latest CentOS (mono 4.2.2). I've attached the workaround patch, which temporarily used fix this issue (just by disabling some code).
Project sample will be added later, when my colleague will be at office.

``
diff --git a/src/Generator/Generators/CSharp/CSharpTextTemplate.cs b/src/Generator/Generators/CSharp/C

[2016-04-08 15:03] TechnikEmpire commented on #641
Input code? I created a basic example wrapping some of the headers for the Windows Filtering Platform and it's treating it all as C++. Nothing more than what the walkthrough tutorial code shows.

[2016-04-08 15:34] tritao commented on #641
Pushed a fix for the error, turns out to be a pretty silly issue.

[2016-04-08 15:44] TechnikEmpire commented on #641
Haha that's usually the way it is isn't it? Thanks man, AAA support for any product, especially a free one. :)

[2016-04-08 15:59] tritao commented on #641
That only fixes the first issue though, looks like there's another one dealing with FunctionNoProto types, which will also need a fix.

[2016-04-08 16:08] #641 closed

[2016-04-14 08:53] quantbrothers commented on #640
Yes, as i said before its related to base class and virtual function 'ToString'

[code]

// other header file

[code]

look at the 'Part' derived class and 'Message' base class.
Something fishy in '? ((Class) method.Namespace).GetBaseMethod(method).Access' construction. Sorry for our dirty fix in diff provided by Eugeny. Now we are using this workaround.

[2016-04-18 15:51] ddobrev opened #647 "CppSharp asserts when parsing QtCore"
The latest changes which complete all parsed types fail an assert when parsing QtCore on Windows (see https://gitlab.com/ddobrev/QtSharp).

[2016-05-10 01:09] ddobrev commented on #647
Fixed by https://github.com/mono/CppSharp/commit/a6604b5f8cf39ed79db40111fd672d37a95a5c40.

[2016-05-10 01:09] #647 closed

[2016-05-16 11:19] ddobrev opened #648 "Mark the generated code as such"
There are ways to mark generated code as such by adding a line to it. https://github.com/mavasani/roslyn/commit/f876a57fddffe64399e90e9291c214328f80a181 describes two ways (1. and 3.) either of which would work for us. The &lt;auto-generated /&gt; tag (https://stackoverflow.com/questions/491646/auto-generated-code) would be better because we already generate a comment on top anyway.

[2016-05-16 15:54] allisterb opened #649 "Typo in Generator\Options.cs - DriverOptions.Libraries property referencing Module.Headers."
One line 12 the DriverOptions.Libraries property seems to be mistakenly referencing the Module.Headers property. This basically means you will always get a parser error when using both .lib libraries and .h headers. Changing it to point to Module.Libraries seems to get everything working again.

[typo.patch.txt](https://github.com/mono/CppSharp/files/266446/typo.patch.txt)

[2016-05-16 15:57] tritao commented on #649
@ddobrev ?

[2016-05-16 15:59] #649 closed

[2016-05-16 15:59] tritao commented on #649
Thanks, should be fixed.

[2016-05-16 16:07] #648 closed

[2016-05-24 15:13] lprichar opened #650 "System.EntryPointNotFoundException"
Receiving System.EntryPointNotFoundException from a C# (P/Invoke) generated binding library on an iOS device.  I don't have access to the C++ source code, only the headers, so I don't know if the problem is with the library or my settings.

fwiw the C++ binary is embedded in a Xamarin binding library with a build action of ObjcBindingNativeLibrary and my DllImport is using a dllName of "__Internal

[2016-05-24 15:16] ddobrev commented on #650
MSVC only works on Windows. You need the correct settings for iOS - target tripe, ABI and so on.

[2016-05-24 15:25] tritao commented on #650
@ddobrev is right, you need to change your settings.

Set your target triple to iOS, you can check some examples of target triples here: https://github.com/mono/mono/blob/master/tools/offsets-tool/MonoAotOffsetsDumper.cs#L141

In your case, I'd say you want to start with something like `arm-apple-darwin10` and set your ABI mode to `Itanium` instead of `MSVC`.

[2016-05-26 04:51] JSandusky opened #651 "std::vector type visit failure"
##### Brief Description
OS: Windows (using binaries grabbed from appveyor build artifacts)

Probably expected but headers containing std::vector<T> are all failing to parse/generate. Case of failing source and error log below. Failure still occurs if only the member definitions in the class are left (after commenting out the accessor functions).

##### Used headers
One particular file: http://hast

[2016-05-26 10:40] ddobrev commented on #651
Your link only displays an empty dark screen to me. Could you please ensure it works or move the code somewhere else?

[2016-05-26 10:41] JimSEOW commented on #629
can we have a simple tutorial or example using a known c++ library to port it to .NET Core? If such a tutorial already available, please share the links

[2016-05-26 11:03] tritao commented on #629
@JimSEOW: You can use https://github.com/ddobrev/QtSharp as an example, or all the other open source projects linked on the README file. And you can also take a look at our test suite.

[2016-05-26 11:09] tritao commented on #651
@ddobrev I can see it, I've mirrored it in https://gist.github.com/tritao/4a48519392375c332789c1901d70d703

[2016-05-26 14:03] #650 closed

[2016-05-26 18:18] JSandusky commented on #651
Sorry about that, I assumed hastebin was sufficiently spartan that it'd work anywhere. Added tritao's mirror to the initial post as an alternative link.

Also, I failed to note that the failures occur when generating C++/CLI.

C# generation appears to work (dumping Std.Vector<T> types) though I haven't tested if that _actually_ works when it comes time to compile.

If more information is required

[2016-05-26 19:51] tritao commented on #651
@JSandusky C++/CLI has historically had an advantage for this use case and CppSharp has been able to wrap `std::vector` almost since the beginning of the project. In fact my initial use case was very similar to yours (a 3D engine). It's implemented as a type map and is implemented here, https://github.com/mono/CppSharp/blob/master/src/Generator/Types/Std/Stdlib.cs#L102.

That said, I haven't teste

[2016-05-26 20:55] JSandusky commented on #651
@tritao, I was coming to that conclusion after I noticed I had other types that were dealing with std::vector without issue.

I've narrowed it down. The "IndexBuffer" typedef seems to be the trigger that causes things to go wrong:
`typedef std::vector<unsigned int> IndexBuffer;`

That typedef seems to mangle the handling of the "std::vector<unsigned int> indexBuffer_;" towards the bottom. Interest

[2016-05-26 22:30] #651 closed

[2016-05-26 22:34] tritao commented on #651
Turns out we actually have some tests for `std::vector` in https://github.com/mono/CppSharp/blob/master/tests/StandardLib/StandardLib.Tests.cs.

I've pushed a small fix for the original issue, please check if it fixes your original issue since I could not come up with a test case, if not please re-open.

[2016-05-26 22:48] JSandusky commented on #651
Confirmed. No longer errors and generated code checks out. Shockingly tiny change looking at the commit.

Thanks!

[2016-05-28 21:51] tritao opened #652 "void* out parameters"
##### Brief Description

Trying to wrap `void*` parameters as `out` will lead to incompilable C# code.

[2016-05-29 01:49] JSandusky opened #653 "Driver::SaveCode should handle exceptions"
##### Brief Description

Driver::SaveCode(List<GeneratorOutput> outputs) uses File.WriteAllText() which can fail. The problem is not that it can fail, but that if one file fails everything afterwards is halted (terminated by exception).

My particular case where this came up as undesirable is that in a few generated files I've modified the bindings that were produced (had to fix the code generated

[2016-05-29 05:09] JSandusky opened #654 "Static members fail to generate reasonable bindings"
##### Brief Description

Given this code containing a static const for "zero" (last real line of code):

[code]

The output source to CLI is (note, the CPP file is the meaningful one here):

Header file
[code]

CPP file (only problem section)
[code]

That source output in the CPP isn't sane (nor compilable). The variable name is invalid and the ternary really doesn't make any sense.

Easy to work

[2016-05-29 05:27] JSandusky commented on #654
I also encountered a loosely similar issue with functions returning std::string being expanded into std::basic_string() (without type args) for return as a System::String^, only mentioning because from a superficial look it might be related.

I resolved that just by post-processing the code because all cases were completely identical in output.

Most functions wanted to print as:
[code]

But a few

[2016-05-29 06:01] JimSEOW commented on #629
Thanks @tritao, after extensive search through internet, I found (especially Japanese sites) offering step by step tutorials using the foo example. Thanks. cppSharp offers a much simpler experience than SWIG.

[2016-05-30 10:20] wewebber opened #655 "CppSharp parser bindings do not support GNU C++11 ABI under mono / linux"
##### Brief Description

OS: Linux; Ubuntu 16.04

Summary: I get a malloc() memory corruption error from CSharp.Gen.Exe when trying to build CppSharp under Ubuntu 16.04.

Setup:
- Ubuntu 16.04, updated as of May 24th
- Latest mono packages from download.mono-project.com (Mono JIT compiler version 4.2.3 (Stable 4.2.3.4/832de4b Wed Mar 16 13:19:08 UTC 2016)
  *\* Same error occurred with Ubuntu defa

[2016-05-30 11:07] tritao commented on #655
I think this is caused by using `download_llvm` command, which downloads a pre-compiled package that is not compatible with libc from recent Ubuntu. You can try to compile your own, using instructions from https://github.com/mono/CppSharp/blob/master/docs/BuildingLLVM.md.

[2016-06-01 11:40] ddobrev commented on #629
@benpye we still haven't fixed this issue after quite some time but there is a reason. Please feel free to use our e-mail for support if you would like to discuss this reason in more detail.

[2016-06-02 23:46] ddobrev opened #657 "Support functions which use pointers to types in dependent libraries"
C++ allows pointers to types in dependent libraries to be used if the type is forward-declared, for example if QtWidgets depends on QtCore, and QtWidget is in QtWidgets, we can have something like this in QtCore:

class QtWidget;

void finction(QtWidget* widget);

We can support this in C# by generating extending or static methods in the dependent module (QtWidgets) so this is what we should do.

[2016-06-06 11:59] wewebber commented on #655
Thanks for the suggestion!  I pulled the correct commits of LLVM and clang; compiled them; removed the downloaded LLVM package; and symlinked to the newly built LLVM from build/scripts/llvm.  I still get a "malloc(): memory corruption" error, though now with a slightly different stack trace.  MONO_DEBUG output leading up to memory corruption error:

[code]

And GDB stack trace on the main thread:

[2016-06-14 12:29] tritao opened #659 "Duplicate fields offsets in MI classes"
##### Brief Description

Noticed this issue in latest Qt# release.

##### Stack trace or incompilable generated code

QWidget has this native layout:

[code]

QMenu, which inherits from QWidget, has this one:

[code]

Notice the duplicated field offset, which is almost certainly wrong.

[2016-06-14 22:45] #637 closed

[2016-06-14 22:46] tritao commented on #286
@ddobrev published the first set of NuGet packages, please test them and report any issues.

https://www.nuget.org/packages/CppSharp/0.5.0

[2016-06-14 22:46] #286 closed

[2016-06-17 19:06] ddobrev commented on #659
The original layout is wrong too. Compare to Clang's dump:

         0 | class QWidget
         0 |   class QObject (primary base)
         0 |     (QObject vtable pointer)
         4 |     class QScopedPointer<class QObjectData, struct QScopedPointerDeleter<class QObjectData> > d_ptr
         4 |       class QObjectData * d
         8 |   class QPaintDevice (base)
         8 |     (QPaintDevice v

[2016-06-17 23:28] Nanonid opened #660 "No such file, impropert paths in solution, Visual Studio 2013, built as CI"
##### Brief Description
Followed exact process from ci builder for commit 02ed084fd850407bc30e7fe437d5cf513a07fc36
Followed the log in: https://ci.appveyor.com/project/tritao/CppSharp/branch/master

Generated solution has improper paths for Object/Archive.h and ADT/SmallString.h

OS: Windows / OS X / Linux (include version and/or distro)
Microsoft Windows [Version 10.0.10586]

##### Used headers

[2016-06-17 23:47] tritao commented on #660
Did you use `build\premake5.exe --file=build\scripts\LLVM.lua download_llvm` to get a copy of LLVM?

Which LLVM paths do you get in the log when running Premake?

[code]

[2016-06-18 05:58] ddobrev commented on #659
The best way to solve it is the simplest one: just copy the static DumpRecordLayout from https://github.com/llvm-mirror/clang/blob/master/lib/AST/RecordLayoutBuilder.cpp#L3152 and adjust it to collect the offsets instead of printing them. We need to then just store them in our AST, for example by adding a list of offsets or even entire internal fields to our AST::Class. This way we'll have the cor

[2016-06-18 13:29] ddobrev commented on #659
We should add a new field to AST::Class called OriginalFields or InternalFields. This list will contain all fields, including v-table pointers and fields from bases - in other words, everything DumpRecordLayout shows. This way we are guaranteed to always have the correct layout in the correct order with the correct offsets. The field of Fields we have now should be removed from the C++ AST and rei

[2016-06-21 09:29] #581 closed

[2016-06-21 09:30] #568 closed

[2016-06-21 09:30] ddobrev commented on #571
The reason is actually that all of them are template functions so it's expected for them to be missing.

[2016-06-21 09:30] #571 closed

[2016-06-21 09:56] ddobrev commented on #197
Dependent fields in internals are actually impossible to support. Structures with native layouts cannot be generic so we can only use separate structures per specialisation which we already do.

[2016-06-21 09:56] #197 closed

[2016-06-22 22:32] ddobrev opened #662 "The patching with dummy fields for arrays is not always correct"
See this generated code for Common.h::Foo:

[code]

It's obviously wrong because the dummy fields used for patching up the array both exceed the size of the layout and cause repetitions.

[2016-06-22 22:35] ddobrev opened #663 "Check if the additional v-table pointers for Itanium have to be patched"
Itanium also has more than one v-table pointer if bases are also virtual. We need to check if we have to patch them too - most probably yes.

[2016-06-22 22:42] ddobrev commented on #659
Fixed by https://github.com/mono/CppSharp/commit/e2b8f445659b8632523175b8bf245920a196a7ae.

[2016-06-22 22:42] #659 closed

[2016-06-24 11:33] rouen-sk opened #664 "Mapnik bindings - how to start?"
Hi guys, there is this awesome c++ library for creating maps - mapnik. It is de facto standard in the business (openstreetmaps, mapbox..), but there is no .NET binding. (actually, there is: https://github.com/jbrwn/NET-Mapnik , but it is based on more than a year old mapnik and the author has no plan to keep it updated anymore). I would like to create .NET binding for it and CppSharp seems like th

[2016-06-24 11:42] ddobrev opened #665 "Generate internals for system types in the C# end"
We ignore system types in the generated record layouts thus leaving holes which might lead to crashes. So we need to generate internals for system types and use them in the layouts.
The best way to do it is to have a separate library with wrappers for system types. For the time being, this library will only contain the internal structures. It will be placed in a name-space called Std and be called

[2016-06-24 11:54] ddobrev opened #666 "Switch to sequential layouts in the C# end"
We should switch from explicit to sequential layouts because this way incorrect layouts - with holes or incorrect sizes - will crash immediately and thus there won't be any more hidden bugs.
This depends on https://github.com/mono/CppSharp/issues/665 and https://bugzilla.xamarin.com/show_bug.cgi?id=33571 to be fixed first.

[2016-06-24 11:56] ddobrev commented on #663
https://github.com/llvm-mirror/clang/blob/8aeb921729f51d6c9575210be96f1a8aa80cd179/lib/AST/VTableBuilder.cpp contains code for dumping v-table layouts. It would be easiest to see it and patch the v-table pointers according to the result.

[2016-06-24 12:00] rouen-sk commented on #664
By the way, when I try to add all headers from `mapnik-sdk/include/mapnik` like this

`driver.Options.Headers.AddRange(Directory.EnumerateFiles(@"d:\Devel\MapnikWrapper\mapnik-sdk\include\mapnik", "*.hpp"));`

CppSharp fails like this:

[code]

[2016-06-24 12:00] tritao commented on #664
Hi, looks like some of the includes in `params.hpp` header  (`value_types.hpp`) rely on `std::string` which is only included later in the header which leads me to believe it is not meant to be included directly. I think you'll get the same error with a C++ compiler, nothing we can do about it.

Try removing it and starting only with `map.hpp`.

I took a quick look at the library and it seems to us

[2016-06-24 13:32] tritao commented on #664
About the AccessViolationException, I am looking into it. We've been making heavy core changes in the last few weeks and seems like we did not yet catch some regressions which this code is surfacing. I should have some fixes up later.

[2016-06-24 20:40] ddobrev opened #668 "Deriving from a class with no explicit empty constructor leads to invalid code with C++/CLI"
##### Brief Description

Go to Common.h in our tests and add a type derived from ClassC (about line 671).

OS: Windows

##### Used headers

Common.h from our tests

##### Used settings

Generator: C++/CLI

Target: MSVC

Other settings

##### Stack trace or incompilable generated code

	CommonTest::ClassWithVirtualBase::ClassWithVirtualBase()
		: CommonTest::ClassC((::ClassC*)nullptr)
	{
		__ownsNa

[2016-06-24 20:46] ddobrev opened #669 "Having a virtual base leads to invalid code with C++/CLI"
##### Brief Description

Go to Common.h, make any base class virtual and regenerate. The resulting code with fail with:

error C2635: cannot convert a 'Base*' to a 'Derived*'; conversion from a virtual base class is implied

OS: Windows

##### Used headers

Common.h from our tests

##### Used settings

Generator: C++/CLI

Target: MSVC/GCC/Clang

##### Stack trace or incompilable generated code

	C

[2016-06-24 22:11] ddobrev opened #670 "Stack overflow when processing certain type aliases"
##### Brief Description

Add this line:

    using data_type = typename std::aligned_storage<16, 8>::type;

to Common.h and try to regenerate. The stack is overflown.

OS: Windows

##### Used headers

Common.h from our tests

Target: MSVC

##### Stack trace or incompilable generated code

	CppSharp.AST.dll!CppSharp.AST.TypedefDecl.QualifiedType.get() Line 362 + 0xf bytes	C#
 	CppSharp.AST.dll!CppS

[2016-06-27 07:50] rouen-sk commented on #664
@tritao thanks a lot for quick answer! As I said, I am not c++ programmer, so "develop local workarounds" and "write a subset of the API you need in simple C++" are not really options for me. Looks like I have to wait for you guys to improve template support in CppSharp. I can see you already done some work on this - let me say I am super impressed by activity of this project. I am really looking

[2016-06-27 08:00] ddobrev commented on #664
@rouen-sk @tritao has fixed 7 problem revealed by Mapnik but unfortunately this is all the time he, and I, have for now. However, In case you are not just an enthusiast but rather need Mapnik bindings for commercial purposes, you can always contact our support at https://github.com/mono/CppSharp#support .

[2016-07-02 11:19] tritao opened #671 "Remove null checks from typedef/type alias visitor bodies"